.modal-layout(data-modal='callback').js-popup-container
	.modal-container
		.modal-container-header
			i.small-link.pop-close.closePopup
		.modal-container-content
	//контейнер ответа модалки 
	.modal-container.response(style='display: none')
		.modal-container-header
			i.small-link.pop-close.closePopup
		.modal-container-content
