extends _layout

block title
	title  наши номер
block config
	- var main = ''
block content
	.wrapper
		.box.page-head.full
			.page-head-inner
				.bread-cont
					a(href="#").bread-item 
						span Главная
				.title.h1.white.animate-up наши номерa
		.page-cover
			.page-cover-inner.animate-bg(style='background-image: url(img/pagehead/h1.jpg)')
	.wrapper.white
		.box
			.content-wrapper
				.section-head-wrap.secretplace
					.section-head.animate-up
						.section-svg
							+svgstay4
				.content-content
					.hotel-about-wrap
						.columns
							p Полностью обновленный дизайн интерьера, современная роскошь отделки и тщательный подбор качественных натуральных материалов. Внимание к деталям: специальная звукоизоляция, высокоскоростной Wi-Fi-доступ, USB-розетки и X каналов спутникового ТВ. 
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit harum fuga rem eos consectetur, inventore, voluptate deleniti, velit saepe assumenda quod rerum eveniet ab asperiores vero qui aperiam? Provident, tempore.
							p Окна всех номеров выходят в тихий внутренний двор, отгораживающий здание отеля от Столешникова переулка. Мы можем предложить два типа номера для размещения наших гостей: Clаssic и Superior.
	.wrapper.blk
		.box
			.widget-container
				.title.h3.white поиск номера онлайн
				.widget-wrapper
					form(action="/").form.bronvo-form
						.input-form
							// инпут lcode 
							input.input-main(type="hidden",name="lcode" value="1413618257")
							.input-item.s33
								.input-wrapper
									input.input-main.datepicker(type="text",name='dfrom', readonly="readonly",placeholder="Заезд")
									svg(class="icon icon-drop")
										use(xlink:href="#calendar" xmlns:xlink="http://www.w3.org/1999/xlink")
							.input-item.s33
								.input-wrapper
									input.input-main.datepicker(type="text",name="dto", readonly="readonly",placeholder="Выезд")
									svg(class="icon icon-drop")
										use(xlink:href="#calendar" xmlns:xlink="http://www.w3.org/1999/xlink")
							.input-item.s33
								button(type='submit').btn.btn-white
									span Показать наличие
	.wrapper.white
		.rows-wrapper
			.rows-row
				.rows-block
					// тут появлятся дополднительный ребенок
					.rows-block-img(style='background-image: url(img/index/row1.jpg)')
						.rows-block-img-cover
							.key-elem
								+keygold
				.rows-block
					.rows-block-content
						.title.h3 Classic
						.text C16 – 21 м2. 1 большая двуспальная или 2 односпальные кровати. Завтрак включен.
						a(href="#").btn
							span Подробнее	
	.wrapper.white.img-right
		.rows-wrapper
			.rows-row
				.rows-block
					.rows-block-img(style='background-image: url(img/pagehead/sli1.jpg)')
						.rows-block-img-cover
							.key-elem
								+keygold
				.rows-block
					.rows-block-content
						.title.h3 superior
						.text 25 – 27 м2. 1 большая двуспальная или 2 односпальные кровати. Размещение детей до 12 лет с родителями бесплатно. Завтрак включен.впечатления.
						a(href="#").btn
							span Подробнее	
	.wrapper.blk
		+next('отзывы')



				