extends _layout

block title
	title  БЛОГ
block config
	- var main = ''
block content
	.wrapper
		.box.page-head
			.page-head-inner
				.bread-cont
					a(href="#").bread-item 
						span Главная
				.title.h1.white.animate-up БЛОГ
		.page-cover
			.page-cover-inner.animate-bg(style='background-image: url(img/pagehead/hs1.jpg)')
	.wrapper.white
		.box
			.news-mainwrap
				.news-mainwrap-sort
					.news-mainwrap-sort-cont
						a(href="#").news-sort-elem.text.active Все
						a(href="#").news-sort-elem.text 2017
						a(href="#").news-sort-elem.text 2016
						a(href="#").news-sort-elem.text 2017
				.news-wrapper.blog-wrapper
					+blog('n1.jpg','24 марта в самом сердце москвы открылся наш неповторимый дизайн-отель “Акварель”')
					+blog('n2.jpg','мы открылись и по этому радостному поводу дарим всем скидку -30%')
					+blog('n2.jpg','Го дотку я создал')
					+blog('n2.jpg','Го дотку я создал')
					+blog('n2.jpg','2 тела от 7к ммр. Лоуммр овощи мимо  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea praesentium!')
					+blog('n1.jpg','24 марта в самом сердце москвы открылся наш неповторимый дизайн-отель “Акварель”')
				.news-mainwrap-pagi
					.pagi-cont
						a(href="#").pagi-cont-link
							.pagi-cont-link-image
								svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='449 348 621.6 465.6', enable-background='new 449 348 621.6 465.6', xml:space='preserve')
									g
										defs
											path#SVarrow_1_(d='M813.5,564.3c0.2,1.5,0.6,3,2.6,5l8.7,8.8l1.2,1.2c0.5,0.5,0.3,0.2,0.4,0.4l0.5,0.4c0.3,0.3,0.6,0.6,0.7,0.9c0,0.1,0.1,0.3,0.2,0.4c-0.2,0.3,0.1,0.4,1.4,1c0.3,0.1-0.1,0.8-0.4,0.8c-1.7-0.1-2.2-0.2-2.3,0.1l0,0.1l-0.3,0.5c-0.2,0.4-0.4,0.7-0.5,1.1c-0.3,0.8-0.4,1.7-0.5,2.6c-2.7,2.1-4.6,6.9-8.3,6.5c-0.8-0.1-3.8,2.1-4.9,3.4c-3.8,4.8-6.8,10.1-12.6,13.4c-1.2,4.6-5.2,6-8.6,8.5c-5.8,4.3-11.4,9.1-14.7,15.5c-0.6,1.1-2.3,3.1-3.3,3.5c-2.7,1.3-4.9,3.5-7.3,5.8l-18.9,18.6c-1,0.9-2.5,2.5-2.5,3c-0.2,4.3-4.2,6.3-7.7,8.8c-1.3,1-3.1,2.6-3.7,3.7c-2.1,3.8-5.1,5.9-8.4,8.4c-2,1.5-3.9,3.8-5.5,5.9c-3,3.9-4,8.8-10.1,11c-0.7,0.3-2.6,2.6-3.4,4c-2.9,5.2-9.7,9-11.8,14.5c-0.1,0.3-1.3,1.1-2,1.6c-7.2,4.5-12,11.4-16.7,17.6c-3.3,4.4-6.3,8.7-10.9,11.8c-3.9,2.6-3.8,5.8-5.9,7.8c-2.4,2.4-6,3.2-8.6,6.7c-0.8,1-1.3,2.1-1.9,3.1c-0.9,1.8-1.8,3.5-2.7,5.3c-4.3,8.7-6.5,16.3-4.9,22c0.5,1.9,2.5,1.7,5.4-0.7c16-13.1,30.9-27.8,45.8-42.5c2.2-2.1,3.5-4.1,3.7-6.1c0.1-1.3,0.5-2.7,2.5-2.9c2.5-0.2,4.8-2.3,7.2-4.7l10.5-11.2l38.4-40.5c18.6-19.5,38.6-37.6,56.9-57.5c4.6-4.9,8.5-9.4,10.3-15c4.2-0.1,7.6-2.9,11.5-7l10.2-10.6l17.6-17.9l-18.2-18l-17.7-17.8c-1.6-1.6-3.6-3.5-5.2-4.2c-1.8-0.8-3.2-0.4-4.9-0.5c-2-7.2-3.3-9.9-7.8-12.9c-5.4-3.5-9.8-6.9-12.8-12.6c-0.5-0.9-1.7-2.2-2.7-3c-10.7-8.8-19.1-20-29.5-29.3c-11.7-10.5-22.6-22.1-34-33.1c-2.6-2.5-5.5-4.8-8.2-7c-4.4-3.5-4.4-3.4-3.9-7.7l-0.2-0.6c-4.2-4.4-4.2-4.4-7.7-4l0.1,1.1c-0.1-0.2-0.2-0.4-0.2-0.6c0-0.2,0.1-0.3,0.2-0.5l0.8-4.6l0,0.1c-5.1-4.4-10.3-8.7-12.4-14.5c-0.3-0.9-1.5-2.4-2.4-3.1c-4.4-3.6-8.4-8.6-13.5-10.5c-1.6-0.6-3.9-3.3-5.9-5l-0.3-0.1c-3.3-1.8-3.6-5.6-5.8-6.8c-5-2.8-8.1-6.7-11.1-11.1c-0.6-0.9-2.2-2.3-2.9-2.6c-3.7-1.3-6-3.7-8.1-7.5c-0.9-1.6-3-2.7-3.6-2.1c-2.1,2.3-4.7,4.2-2.4,10c1.2,3.1,1.5,5.8,2.6,8.8c1.9,5.4,4.3,10.9,9.5,16.8c2.1,2.4,4.4,5.2,5.5,7.5c3.5,7.3,10.1,14.3,14.6,21.4c1.5,2.3,3.2,4.1,5.6,5.5c2.7,1.5,9.6,7.8,12,10.6c0.6,0.7,1.3,1.3,2,2l1-0.9l-0.1,0l-0.9,0.9c0,1.4,0.4,3.9,2.5,4.3c4.2,0.9,8.3,6.3,12.4,7.6c0.8,0.3,3.6,3.6,3.9,4.7c1.3,5.4,5.7,9.3,10.6,12.2c4.3,2.6,7.8,4.8,9.8,9.6c0.3,0.8,1.7,2,2.7,3c7.8,7.8,15.4,15.8,23.8,22.9c1.3,1.1,2.6,2.7,3.5,4c4.9,6.9,11.4,12,17.5,17.4c1.9,1.7,4.7,2.3,6.3,4c1.8,1.9,2.6,4.5,4.1,6.8c0.9,1.4,2.4,2.9,3.8,4C799,552,805.8,559.2,813.5,564.3L813.5,564.3z M684.4,749.2c0.1-0.2,1-0.5,1.6-0.8c-0.1,0.3-0.1,0.6-0.3,0.9l-4.2,5l0.1,0.7l-0.1-0.7C682.5,752.5,683.4,750.8,684.4,749.2z M655.5,384.2c0.6,0,1.4,0.3,2.1,0.5c0.1,0.5,0.3,1.3,0.1,1.5c-0.2,0.2-1-0.2-1.5-0.3C655.9,385.3,655.3,384.2,655.5,384.2z M680.1,748l0.6,0.1c-0.4,0.3-0.8,0.6-1.4,1C679.7,748.6,679.9,748.3,680.1,748z M831.3,605.9l0.4-0.7l0.4,0.1L831.3,605.9z M670,770.5l0,0.6l-0.6,0.1L670,770.5z')
										clippath#SVarrow_2_
											use(xlink:href='#SVarrow_1_', overflow='visible')
										g(clip-path='url(#SVarrow_2_)')
											defs
												rect#SVarrow_3_(x='624.6', y='348', width='253.5', height='465.6')
											clippath#SVarrow_4_
												use(xlink:href='#SVarrow_3_', overflow='visible')
											g(clip-path='url(#SVarrow_4_)')
												image(overflow='visible', width='2590', height='1940', xlink:href='../img/gold.jpg', transform='matrix(0.24 0 0 0.24 449 347.9571)')
						.pagi-cont-pages
							a(href="#").pagi-cont-elem.active
								.pagi-cont-elem-image
									svg(class="icon icon-drop")
										use(xlink:href="#1" xmlns:xlink="http://www.w3.org/1999/xlink")
							a(href="#").pagi-cont-elem
								.pagi-cont-elem-image
									svg(class="icon icon-drop")
										use(xlink:href="#2" xmlns:xlink="http://www.w3.org/1999/xlink")
							a(href="#").pagi-cont-elem
								.pagi-cont-elem-image
									svg(class="icon icon-drop")
										use(xlink:href="#3" xmlns:xlink="http://www.w3.org/1999/xlink")
							a(href="#").pagi-cont-elem
								.pagi-cont-elem-image
									svg(class="icon icon-drop")
										use(xlink:href="#4" xmlns:xlink="http://www.w3.org/1999/xlink")
							span.divider ...
							a(href="#").pagi-cont-elem
								.pagi-cont-elem-image
									svg(class="icon icon-drop")
										use(xlink:href="#1" xmlns:xlink="http://www.w3.org/1999/xlink")
									svg(class="icon icon-drop")
										use(xlink:href="#7" xmlns:xlink="http://www.w3.org/1999/xlink")
							a(href="#").pagi-cont-elem
								.pagi-cont-elem-image
									svg(class="icon icon-drop")
										use(xlink:href="#2" xmlns:xlink="http://www.w3.org/1999/xlink")
									svg(class="icon icon-drop")
										use(xlink:href="#0" xmlns:xlink="http://www.w3.org/1999/xlink")
						a(href="#").pagi-cont-link.right.disabled
							.pagi-cont-link-image
								svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='449 348 621.6 465.6', enable-background='new 449 348 621.6 465.6', xml:space='preserve')
									g
										defs
											path#SVarrow_1_(d='M813.5,564.3c0.2,1.5,0.6,3,2.6,5l8.7,8.8l1.2,1.2c0.5,0.5,0.3,0.2,0.4,0.4l0.5,0.4c0.3,0.3,0.6,0.6,0.7,0.9c0,0.1,0.1,0.3,0.2,0.4c-0.2,0.3,0.1,0.4,1.4,1c0.3,0.1-0.1,0.8-0.4,0.8c-1.7-0.1-2.2-0.2-2.3,0.1l0,0.1l-0.3,0.5c-0.2,0.4-0.4,0.7-0.5,1.1c-0.3,0.8-0.4,1.7-0.5,2.6c-2.7,2.1-4.6,6.9-8.3,6.5c-0.8-0.1-3.8,2.1-4.9,3.4c-3.8,4.8-6.8,10.1-12.6,13.4c-1.2,4.6-5.2,6-8.6,8.5c-5.8,4.3-11.4,9.1-14.7,15.5c-0.6,1.1-2.3,3.1-3.3,3.5c-2.7,1.3-4.9,3.5-7.3,5.8l-18.9,18.6c-1,0.9-2.5,2.5-2.5,3c-0.2,4.3-4.2,6.3-7.7,8.8c-1.3,1-3.1,2.6-3.7,3.7c-2.1,3.8-5.1,5.9-8.4,8.4c-2,1.5-3.9,3.8-5.5,5.9c-3,3.9-4,8.8-10.1,11c-0.7,0.3-2.6,2.6-3.4,4c-2.9,5.2-9.7,9-11.8,14.5c-0.1,0.3-1.3,1.1-2,1.6c-7.2,4.5-12,11.4-16.7,17.6c-3.3,4.4-6.3,8.7-10.9,11.8c-3.9,2.6-3.8,5.8-5.9,7.8c-2.4,2.4-6,3.2-8.6,6.7c-0.8,1-1.3,2.1-1.9,3.1c-0.9,1.8-1.8,3.5-2.7,5.3c-4.3,8.7-6.5,16.3-4.9,22c0.5,1.9,2.5,1.7,5.4-0.7c16-13.1,30.9-27.8,45.8-42.5c2.2-2.1,3.5-4.1,3.7-6.1c0.1-1.3,0.5-2.7,2.5-2.9c2.5-0.2,4.8-2.3,7.2-4.7l10.5-11.2l38.4-40.5c18.6-19.5,38.6-37.6,56.9-57.5c4.6-4.9,8.5-9.4,10.3-15c4.2-0.1,7.6-2.9,11.5-7l10.2-10.6l17.6-17.9l-18.2-18l-17.7-17.8c-1.6-1.6-3.6-3.5-5.2-4.2c-1.8-0.8-3.2-0.4-4.9-0.5c-2-7.2-3.3-9.9-7.8-12.9c-5.4-3.5-9.8-6.9-12.8-12.6c-0.5-0.9-1.7-2.2-2.7-3c-10.7-8.8-19.1-20-29.5-29.3c-11.7-10.5-22.6-22.1-34-33.1c-2.6-2.5-5.5-4.8-8.2-7c-4.4-3.5-4.4-3.4-3.9-7.7l-0.2-0.6c-4.2-4.4-4.2-4.4-7.7-4l0.1,1.1c-0.1-0.2-0.2-0.4-0.2-0.6c0-0.2,0.1-0.3,0.2-0.5l0.8-4.6l0,0.1c-5.1-4.4-10.3-8.7-12.4-14.5c-0.3-0.9-1.5-2.4-2.4-3.1c-4.4-3.6-8.4-8.6-13.5-10.5c-1.6-0.6-3.9-3.3-5.9-5l-0.3-0.1c-3.3-1.8-3.6-5.6-5.8-6.8c-5-2.8-8.1-6.7-11.1-11.1c-0.6-0.9-2.2-2.3-2.9-2.6c-3.7-1.3-6-3.7-8.1-7.5c-0.9-1.6-3-2.7-3.6-2.1c-2.1,2.3-4.7,4.2-2.4,10c1.2,3.1,1.5,5.8,2.6,8.8c1.9,5.4,4.3,10.9,9.5,16.8c2.1,2.4,4.4,5.2,5.5,7.5c3.5,7.3,10.1,14.3,14.6,21.4c1.5,2.3,3.2,4.1,5.6,5.5c2.7,1.5,9.6,7.8,12,10.6c0.6,0.7,1.3,1.3,2,2l1-0.9l-0.1,0l-0.9,0.9c0,1.4,0.4,3.9,2.5,4.3c4.2,0.9,8.3,6.3,12.4,7.6c0.8,0.3,3.6,3.6,3.9,4.7c1.3,5.4,5.7,9.3,10.6,12.2c4.3,2.6,7.8,4.8,9.8,9.6c0.3,0.8,1.7,2,2.7,3c7.8,7.8,15.4,15.8,23.8,22.9c1.3,1.1,2.6,2.7,3.5,4c4.9,6.9,11.4,12,17.5,17.4c1.9,1.7,4.7,2.3,6.3,4c1.8,1.9,2.6,4.5,4.1,6.8c0.9,1.4,2.4,2.9,3.8,4C799,552,805.8,559.2,813.5,564.3L813.5,564.3z M684.4,749.2c0.1-0.2,1-0.5,1.6-0.8c-0.1,0.3-0.1,0.6-0.3,0.9l-4.2,5l0.1,0.7l-0.1-0.7C682.5,752.5,683.4,750.8,684.4,749.2z M655.5,384.2c0.6,0,1.4,0.3,2.1,0.5c0.1,0.5,0.3,1.3,0.1,1.5c-0.2,0.2-1-0.2-1.5-0.3C655.9,385.3,655.3,384.2,655.5,384.2z M680.1,748l0.6,0.1c-0.4,0.3-0.8,0.6-1.4,1C679.7,748.6,679.9,748.3,680.1,748z M831.3,605.9l0.4-0.7l0.4,0.1L831.3,605.9z M670,770.5l0,0.6l-0.6,0.1L670,770.5z')
										clippath#SVarrow_2_
											use(xlink:href='#SVarrow_1_', overflow='visible')
										g(clip-path='url(#SVarrow_2_)')
											defs
												rect#SVarrow_3_(x='624.6', y='348', width='253.5', height='465.6')
											clippath#SVarrow_4_
												use(xlink:href='#SVarrow_3_', overflow='visible')
											g(clip-path='url(#SVarrow_4_)')
												image(overflow='visible', width='2590', height='1940', xlink:href='../img/gold.jpg', transform='matrix(0.24 0 0 0.24 449 347.9571)')
	.wrapper.blk
		+next('контактная информация')



				