extends _layout

block title
	title  что рядом
block config
	- var main = ''
block content
	.wrapper
		.box.page-head
			.page-head-inner
				.bread-cont
					a(href="#").bread-item 
						span Главная
				.title.h1.white.animate-up что рядом
		.page-cover
			.page-cover-inner.animate-bg(style='background-image: url(img/pagehead/h1.jpg)')
	script.
		var elems = {'points':[
			{
				'id': 'bank',
				'type':'/img/markers/bank.png',
				'title':'Agent Provocateur',
				'lat':'55.7624466395',
				'lng':'37.614266239107',
				'img':'/upload/iblock/8d0/8d06befb71d026baea1f87a0ab57c686.png',
				'address':'Столешников пер., 10',
				'tel':'','time':'',
				'site':'http://www.agentprovocateur.ru',
				'description':'Женское белье класса люкс. Для гостей нашего отеля действует специальное предложение.'
			},{
				'id': 'bar',
				'type':'/img/markers/bar.png',
				'title':'Bar Denis Simachev',
				'lat':'55.762787878447',
				'lng':'37.614511996508',
				'img':'/upload/iblock/89e/89ecbba6961cfaa45c86c715b47b0415.png',
				'address':'Столешников пер. 12/2',
				'tel':'',
				'time':'',
				'site':'',
				'description':'\n Бар известного российского дизайнера Дениса Симачева. \n\n\n Средний счет 1500-2500&nbsp;р.\n'
			},{
				'id': 'interest',
				'type':'/img/markers/interest.png',
				'title':'Bolshoi',
				'lat':'55.761294629464',
				'lng':'37.618190646172',
				'img':'/upload/iblock/c15/c15fce4b7e4d4474043ec2d4bedd2a5c.jpg',
				'address':'Петровка, 3/6 c. 2      ',
				'tel':'+7 (495) 789-86-52',
				'time':'',
				'site':'http://www.novikovgroup.ru',
				'description':'\n Здесь собрана эксклюзивная коллекция работ современных художников и&nbsp;скульпторов, а&nbsp;просторные залы наполнены роскошной мебелью от&nbsp;Ральфа Лорена. Высокая кухня, по&nbsp;вечерам&nbsp;&mdash; живая музыка.\n\n\n Средний счет более 2500&nbsp;р.\n'
			},{
				'id': 'magazine',
				'type':'/img/markers/magazine.png',
				'title':'Chips',
				'lat':'55.761892237739',
				'lng':'37.618528604507',
				'img':'',
				'address':'Кузнецкий мост, 7      ',
				'tel':'+7 (495) 628 6867',
				'time':'','site':'http://www.novikovgroup.ru',
				'description':'\n Большой клуб-бар-ресторан. Главная гордость&nbsp;&mdash; веранда на&nbsp;крыше с&nbsp;видом на&nbsp;исторический центр Москвы, где по&nbsp;четвергам, пятницам и&nbsp;субботам проводятся светские вечеринки.\n\n\n Средний счет 1500-2500&nbsp;р.\n'
			},{
				'id': 'medicine',
				'type':'/img/markers/medicine.png',
				'title':'Dr. Живаго',
				'lat':'55.756773033722',
				'lng':'37.614151239395',
				'img':'/upload/iblock/a54/a54a5aa55257b82bfeda6d9bb6f427e6.jpg',
				'address':'ул. Моховая, 15/1, отель  «Националь»',
				'tel':'+7 (499) 922-01-00',
				'time':'',
				'site':'http://www.drzhivago.ru',
				'description':'\n Ресторан русской кухни с&nbsp;видом на&nbsp;Кремль. Интерьер&nbsp;&mdash; в&nbsp;стиле начала XX&nbsp;века, в&nbsp;оформлении использована живопись Малевича, официантки в&nbsp;форме советских &laquo;буфетчиц&raquo;.\n\n\n Средний счет 1500-2500&nbsp;р.\n'
			},{
				'id': 'restaurant',
				'type':'/img/markers/restaurant.png',
				'title':'FRESH',
				'lat':'55.762034092904',
				'lng':'37.613604068756',
				'img':'/upload/iblock/ec8/ec889110004dfb30d43b1f399cf5da99.jpg',
				'address':'Б. Дмитровка, 11','tel':'+7 (965) 278-90-89',
				'time':'Вс–Чт: 11:00 – 23:00\nПт–Сб: 11:00 – 24:00',
				'site':'http://www.freshrestaurant.ru','description':'\n Популярная канадская сеть ресторанов здорового питания. Вегетарианская и веганская кухня.\n\n\n Средний счет 700-1500&nbsp;р.\n'
			},{
				'id': 'salon',
				'type':'/img/markers/salon.png',
				'title':'Haggis Pub','lat':'55.763938523974',
				'lng':'37.61688709259',
				'img':'/upload/iblock/49c/49c8472f57b28dde797b64613334cea0.jpg',
				'address':'Петровка д. 15 с. 1 ',
				'tel':'+7 (495) 230-03-31',
				'time':'11:00 – 00:00',
				'site':'http://www.haggispub.ru',
				'description':'\n Шотладский паб, где помимо элей, лагеров и&nbsp;крафтого пива, еще и&nbsp;кухня высокого качества. А&nbsp;хаггис&nbsp;&mdash; фирменное блюдо.\n\n\n Средний счет 1000-1500&nbsp;р.\n'
			},{
				'id': 'theater',
				'type':'/img/markers/theater.png',
				'title':'Le Pain Quotidien',
				'lat':'55.760301613642',
				'lng':'37.615014910698',
				'img':'/upload/iblock/d4c/d4cf1728497713fa92f5c903a339e583.jpg',
				'address':'Камергерский пер, 6/5',
				'tel':'+7 (495) 984-90-94',
				'time':'Пн–Чт: 07:00–23:00\nПт–Сб: круглосуточно\nВс: 08:00–23:00​ ',
				'site':'http://www.lepainquotidien.ru',
				'description':'\n Бельгийская сеть кафе-пекарен.\n\n\n Средний счет 700-1000&nbsp;р.\n'
				}
			]
		};
	.wrapper.white
		.map-container
			//.map-elem-near
			#map.map-elem.map-elem-near(data-lat='55.762515',data-lon='37.614681',data-icon='img/icons/pin.png')

	.wrapper.white
		.box
			.specials-wrapper.room-inner
				.specials-head
					.title.h3 легенда карты:
				.specials-content
					.legeng-elem.js-legend(data-id='bar')
						.legeng-elem-img
							.legeng-elem-img-inner(style='background-image: url(img/icons/bar.png)')
						.legeng-elem-text
							.text Бар
					.legeng-elem.js-legend(data-id='restaurant')
						.legeng-elem-img
							.legeng-elem-img-inner(style='background-image: url(img/icons/eat.png)')
						.legeng-elem-text
							.text Ресторан
					.legeng-elem.js-legend(data-id='theater')
						.legeng-elem-img
							.legeng-elem-img-inner(style='background-image: url(img/icons/theater.png)')
						.legeng-elem-text
							.text Театры/кинотеатры
					.legeng-elem.js-legend(data-id='interest')
						.legeng-elem-img
							.legeng-elem-img-inner(style='background-image: url(img/icons/point.png)')
						.legeng-elem-text
							.text Музеи / достопримечательности
					.legeng-elem.js-legend(data-id='bank')
						.legeng-elem-img
							.legeng-elem-img-inner(style='background-image: url(img/icons/bank.png)')
						.legeng-elem-text
							.text Банки
					.legeng-elem.js-legend(data-id='magazine')
						.legeng-elem-img
							.legeng-elem-img-inner(style='background-image: url(img/icons/magazine.png)')
						.legeng-elem-text
							.text Магазины
					.legeng-elem.js-legend(data-id='medicine')
						.legeng-elem-img
							.legeng-elem-img-inner(style='background-image: url(img/icons/med.png)')
						.legeng-elem-text
							.text Аптеки
					.legeng-elem.js-legend(data-id='salon')
						.legeng-elem-img
							.legeng-elem-img-inner(style='background-image: url(img/icons/salon.png)')
						.legeng-elem-text
							.text Салоны
	.wrapper.blk
		+next('что рядом')



				