extends _layout

block title
	title Index
block config
	- var main = true
block content
	.wrapper
		.landing-wrapper
			.landing-elem
				.wrapper
					.box.page-head.full
						.page-head-inner.animate-up
							.title.h1.white Дизайн-отель в самом сердце 
								span М
									i
										img(src="img/icons/heart.png", alt="") 
									| сквы
							.widget-wrapper
								#_bn_widget_.left
					.page-cover
						.page-cover-inner(style='background-image: url(img/pagehead/h1.jpg)')

			.landing-elem
				.wrapper.white
					.box.section-container
						.section-head.animate-up
							.section-svg
								+svgstay
			.landing-elem
				.wrapper.blk
					.box.section-container
						.section-head
							.section-svg
								+svgstay2
			.landing-elem
				.wrapper.white
					.box.section-container
						.section-head.animate-up
							.section-svg
								+svgstay3
			.landing-elem
				.wrapper.gray
					.box.section-container
						.section-head.animate-up
							.section-svg
								img(src="img/icons/hashtag.svg", alt="")
							.title.h2 instagram
			.landing-elem
				.wrapper.blk
		//- a(href="#").btn
		//- 	span Подробнее об отеле		
		//- button(type='submit').btn
		//- 	span Подробнее об отеле
		//- button(type='submit').btn.btn-blackcont
		//- 	span Подробнее об отеле
		//- a(href="#").btn.btn-white
		//- 	span Подробнее об отеле		
		//- button(type='submit').btn.btn-white
		//- 	span Подробнее об отеле
		//- .title.h1 Дизайн-отель в самом сердце Москвы
		//- .title.h2 Дизайн-отель в самом сердце Москвы
		//- .title.h3 Akvarel Stoleshnikov

		//- .title.h4 Akvarel Stoleshnikov
		//- .text Месте, где хочется провести свой уик-энд
		//- .text-bold Месте, где хочется провести свой уик-энд  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam placeat reprehenderit tempore sequi quisquam magni adipisci voluptatum praesentium ut expedita nulla dolorem voluptatem, quasi fugiat, odio voluptates nobis nam ipsum!

























	