extends _layout

block title
	title Index
block config
	- var main = true
block content
	.wrapper
		.landing-wrapper
			.landing-elem.fp-auto-height
				.wrapper
					.box.page-head.full
						.page-head-inner
							.title.h1.white.animate-up Дизайн-отель в самом сердце 
								span М
									i
										img(src="img/icons/heart.png", alt="") 
									| сквы
							.widget-wrapper.animate-up2
								form(action="/").form.bronvo-form
									.input-form
										// инпут lcode 
										input.input-main(type="hidden",name="lcode" value="1413618257")
										.input-item.s33
											.input-wrapper
												input.input-main.datepicker(type="text",name='dfrom', readonly="readonly",placeholder="Заезд")
												svg(class="icon icon-drop")
													use(xlink:href="#calendar" xmlns:xlink="http://www.w3.org/1999/xlink")
										.input-item.s33
											.input-wrapper
												input.input-main.datepicker(type="text",name="dto", readonly="readonly",placeholder="Выезд")
												svg(class="icon icon-drop")
													use(xlink:href="#calendar" xmlns:xlink="http://www.w3.org/1999/xlink")
										.input-item.s33
											button(type='submit').btn.btn-white
												span Показать наличие
								//- #_bn_widget_.left

												
					.page-cover
						.page-cover-inner.animate-bg(style='background-image: url(img/pagehead/h1.jpg)')

			.landing-elem.fp-auto-height
				.wrapper.white
					.box.section-container
						.section-head-wrap
							.section-head.animate-up
								.section-svg
									+svgstay
						.section-content.animate-bg
							.hotel-about-wrap
								.hotel-about
									.hotel-about-text
										.hotel-about-text-content
											.title.h3 Akvarel Stoleshnikov
											.text-bold Элегантный отель в центре Москвы – идеально подходит, чтобы расслабиться и подзарядиться для встречи с городом. Мы хотим, чтобы Москва открылась для вас с лучшей стороны. Поэтому мы создали для вас дизайн-отель, где вы проведете время в атмосфере современной утонченной роскоши. Номера с авторским дизайном, лобби-бар с летней террасой, дружеский совет, куда отправиться за покупками или на ужин — мы приложим максимум усилий, чтобы вы смогли полюбить Москву так же, как любим ее мы.
										.hotel-about-text-feature
											.feature-elem
												.feature-elem-num
													svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 56.6 73.3', enable-background='new 0 0 56.6 73.3', xml:space='preserve')
														g
															defs
																path#SV1_1_(d='M55.4,6.4c0-0.2-0.1-0.1-0.2-0.2c-0.3-0.4-0.4-0.8-0.6-1c-0.3-0.3-0.6-0.6-0.8-0.8c-0.1-0.1-0.3,0.1-0.4,0\
																c-0.1-0.1-0.1-0.4-0.2-0.4c-0.2-0.1-0.6,0.1-0.6-0.2c-1-0.8-1.8-1.8-3.5-1.9c-0.7-1-1.7-1.8-3.3-1.9c0,0.3-0.4,0.2-0.4,0.4\
																c-0.8,0.8-1.5,2-2.1,2.7c-0.5,0.6-0.8,1.4-1.2,1.9c-0.2,0.2-0.7,0.2-1,0.4c-0.1,0.1-0.1,0.5-0.2,0.6c-0.1,0.1-0.3,0-0.4,0\
																c-0.4,0.1-0.7,0.6-1,0.8c-0.3,0.2-0.7,0.5-0.8,0.8c-0.8-0.1-0.9,0.4-1,0.6c-0.1,0.1-0.3-0.1-0.4,0c-0.1,0.1-0.1,0.5-0.2,0.6\
																c-0.1,0.1-0.3-0.1-0.4,0c-0.1,0.1,0.1,0.3,0,0.4c-0.3,0.4-0.7,0.4-0.8,0.8c-2,0.6-3,2.2-4.8,3.1c-0.5,0.4-1.3,1.4-1.9,1.4\
																c-0.4,0-0.5,0.4-0.6,0.6c-0.1,0.1-0.3-0.1-0.4,0c-0.3,0.3-0.7,0.8-0.8,1.2c-0.6,0-0.7,0.4-0.8,0.6c-0.1,0.1-0.3,0-0.4,0\
																c-0.1,0.1-0.3,0.3-0.4,0.4c-0.2,0.2-0.4,0.3-0.6,0.4c-0.2,0.1-0.3,0.3-0.4,0.4c-0.6,0.5-1,1-1.4,1.4c-0.3,0.3-0.6,0.3-0.8,0.4\
																c-0.1,0-0.1,0.4-0.2,0.4c-0.3,0.2-0.6,0.3-0.8,0.4c0,0-0.2,0-0.2,0c-0.1,0.1,0.1,0.4,0,0.4c-0.2,0.1-0.5,0.1-0.6,0.2\
																c-0.2,0.1-0.2,0.5-0.4,0.6c-0.1,0.1-0.3,0-0.4,0c-0.1,0-0.1,0.4-0.2,0.4c-0.3,0.2-0.5,0.1-0.8,0.2c0.1,0.9-1,0.5-0.8,1.4\
																c-0.9,0-1.3,1.4-1.9,1.5c-0.2,0-0.5,0.3-0.6,0.4c-0.4,0.3-0.7,0.7-1,1c-0.2,0.2-0.4,0.2-0.6,0.4c-0.2,0.2-0.4,0.4-0.6,0.6\
																c-0.4,0.4-1,1-1.2,1.2c-0.1,0.1-0.4,0.4-0.4,0.4c0,0.2-0.3,0.5-0.4,0.6c-0.4,0.4-1.4,0.7-1.4,1.2c0,0.2-0.1,0.1-0.2,0.2\
																c-0.2,0.2-0.4,0.4-0.6,0.6c-0.3,0.4-0.7,0.7-1,1c-0.2,0.2-0.2,0.5-0.4,0.6c-0.3,0.2-0.6,0.2-0.8,0.4c-0.2,0.2-0.1,0.6-0.2,0.8\
																c-0.1,0.2-0.4-0.1-0.4,0.2c0,0.2-0.3,0.5-0.4,0.6c-0.1,0.1-0.3-0.1-0.4,0c-0.2,0.1-0.5,0.5-0.6,0.6c-0.4,0.3-0.7,0.7-1,1\
																c-0.2,0.2-0.3,0.4-0.4,0.6c-0.4,0.4-1.2,0.8-1.2,1.2c0,0.6-0.6,0.4-0.6,1c0,0.4-1.1,0.4-0.6,1c0.1,0.2,0.2,0.5,0.4,0.6\
																c0,0.3,0.4,0.1,0.6,0.2c0.1,0.1,0.3,0.3,0.4,0.4c0.9,0.5,1.3,1,1.9,1.7c0.3,0.3,0.9,0.5,0.8,1c0,0.3,0.3,0.1,0.4,0.2\
																c0.4,0.3,0.6,0.8,0.8,1C6,47.6,6.6,47.8,6.9,48c0.4,0.3,0.8,0.3,1.2,0.6c1.4,0.9,3.1-0.4,3.5-0.8c0.1-0.1,0.3,0,0.4,0\
																c0,0,0-0.2,0-0.2c0.1-0.1,0.3,0,0.4,0c0.3-0.1,0.3-0.7,0.8-0.4c0-0.1,0-0.3,0-0.4c0.1-0.3,0.2,0,0.4-0.2c0.2-0.2,0.5-0.5,0.6-0.6\
																c0.4-0.4,0.9-0.8,1.2-1.2c0.1-0.1,0.1-0.3,0.2-0.4c0.1-0.1,0.4-0.3,0.4-0.4c0-0.2,0.3-0.5,0.4-0.6c0.4-0.5,0.9-0.9,1.2-1.2\
																c0.2-0.2,0.1-0.6,0.2-0.8c0.1-0.2,0.5-0.4,0.6-0.6c0.2-0.3,0.5-0.4,0.6-0.6c0.2-0.3,0.2-0.6,0.4-0.8c0.2-0.2,0.4-0.4,0.6-0.6\
																c0.6-0.7,1.2-1.4,1.9-1.9c0.1-0.4,0.1-0.9,0.4-1c0.2-0.1,0.3-0.3,0.4-0.4c0.1-0.1,0.4-0.2,0.4-0.4c0.3-0.3,0.8-0.8,1.2-1.2\
																c0.2-0.2,0.2-0.7,0.4-0.8c0.3-0.2,0.5-0.2,0.8,0c0.6,0.1,0.4,0.9,0.4,1.2c0,0.2-0.2,0.2-0.2,0.2c-0.2,1-0.5,1.8-0.8,2.5\
																c-0.1,0.1-0.2,0.3-0.2,0.4c0,0.5-0.9,1.3-0.6,2.1c-0.3,0.2-0.4,0.6-0.6,0.8c-0.3,0-0.2,0.3-0.2,0.6c0,0.2-0.2,0.1-0.2,0.2\
																c-0.5,1.2-1.1,2.7-1.7,3.7c-0.1,0.2-0.4,0.4-0.4,0.6c-0.1,0.3,0,0.3-0.2,0.4c0,0-0.2,0.6-0.2,0.6c-0.2,0.7-0.1,0.6-0.4,1\
																c-0.2,0.3-0.1,0.4-0.2,0.8c-0.1,0.5-0.3,1-0.4,1.5c-0.2,0.7-0.4,1.2-0.6,1.9c-0.1,0.3-0.1,0.7-0.2,1c0,0-0.2,0-0.2,0\
																c-0.1,0,0,0.3,0,0.4c-0.3,0.8-0.8,1.6-0.6,2.5c-0.4,0.4-0.5,1.1-0.8,1.4c0.2,0.8-0.3,1.5-0.4,2.1c-0.1,0.3-0.1,0.7-0.2,1\
																c-0.1,0.4-0.4,0.8-0.4,1c0,0,0.2,0,0.2,0.2c0,0.1-0.2,0-0.2,0.2c0,0.4,0.2,0.5,0.2,0.8c-1,1-0.7,5-0.4,6c0.1,0.3,0,0.3,0.2,0.4\
																c0.1,0.1,0,0.3,0,0.4c0.1,0.1,0.3,0.3,0.4,0.4c0.3,0.4,0.7,0.7,0.8,0.8c0.1,0.1-0.1,0.4,0,0.4c0.1,0.1,0.5,0.1,0.6,0.2\
																c0.3,0.3,0.4,0.7,0.6,0.8c0.4,0.2,1,0.2,1.5,0.4c0.1,0,0.3,0.4,0.4,0.4c0.5,0.2,0.8,0.3,1,0.4c0.4,0.3,0.7,0.1,1.2,0.2\
																c0.3,0,0.3,0.2,0.6,0.2c0.4,0,0.5-0.2,0.8-0.2c0-0.5,0.6-1.3,0.2-1.5c-0.2-0.6-0.3-1.1-0.4-1.7c-0.1-0.8,0.2-1.4-0.2-1.7\
																c-0.1-0.1,0.2-0.3,0.2-0.2c0-0.6-0.2-2.3-0.2-2.3c0.2-0.2,0.1-0.2,0.2-0.6c0.2-0.7,0.1-1.7,0.2-2.5c0-0.2,0.2-0.2,0.2-0.4\
																c0.1-0.4-0.1-0.6,0.2-0.8c0.1,0,0-0.3,0-0.4c0.2-0.5,0.2-0.9,0.4-1.4c0-0.1,0.4-0.1,0.4-0.2c0.1-0.2-0.1-0.4,0-0.6\
																c0.1-0.3,0.1-0.5,0.2-0.8c0.1-0.4,0.4-0.5,0.4-0.8c0-0.2,0.2-0.1,0.2-0.2c0.3-0.6,0.4-1.3,0.4-1.7c0-0.2,0.2-0.1,0.2-0.2\
																c0.2-0.5,0.1-1,0.2-1.2c0-0.1,0.3-0.3,0.4-0.4c0.3-0.5,0.4-0.7,0.6-1c0.3-0.4,0.4-0.9,0.6-1.2c0.1-0.1,0.3-0.3,0.4-0.4\
																c0.1-0.2,0.1-0.5,0.2-0.6c0.2-0.6,0.4-0.9,0.6-1.2c0.1-0.2,0.1-0.4,0.2-0.6c0.1-0.1,0.3-0.3,0.4-0.4c0.1-0.1,0-0.3,0-0.4\
																c0-0.1,0.4-0.1,0.4-0.2c0.2-0.5,0.1-0.7,0.2-1c0.1-0.3,0.4-0.2,0.4-0.4c0.1-0.3,0.2-0.4,0.2-0.6c0.1-0.2-0.1-0.5,0-0.6\
																c0-0.1,0.3-0.3,0.4-0.4c0.1-0.2,0.1-0.4,0.2-0.6c0.1-0.1,0.3-0.3,0.4-0.4c0.2-0.3,0.3-0.6,0.4-1c0.1-0.4,0.3-0.6,0.4-0.8\
																c0.1-0.1,0.3-0.2,0.4-0.4c0.1-0.1-0.1-0.3,0-0.4c0-0.1,0.4-0.1,0.4-0.2c0.2-0.4,0.2-0.9,0.4-1.2c0.1-0.1,0.3-0.3,0.4-0.4\
																c0.2-0.3,0.3-0.6,0.4-1c0.1-0.4,0.5-0.4,0.6-0.6c0.3-0.5,0.4-0.8,0.6-1.2c0.1-0.1,0.1,0,0.2-0.2c0.1-0.6,0.2-0.5,0.4-0.8\
																c0.1-0.1,0.3-0.3,0.4-0.4c0.1-0.3,0-0.6,0.2-0.8c0.1-0.1,0.3-0.3,0.4-0.4c0.3-0.4,0.4-0.7,0.6-1c0.1-0.2,0.3-0.4,0.4-0.6\
																c0.1-0.2,0.1-0.4,0.2-0.6c0.1-0.1,0.3-0.3,0.4-0.4c0.1-0.2,0.1-0.5,0.2-0.6c0.1-0.1,0.2,0,0-0.2c0.1,0.1,0.4-0.8,0.4-0.8\
																c0.1-0.2,0.5-0.2,0.6-0.4c0.1-0.2,0.1-0.5,0.2-0.6c0,0,0.2-0.1,0.2-0.2c0,0,0-0.2,0-0.2c0-0.1,0.4,0.1,0.4,0\
																c0.1-0.1-0.1-0.5,0-0.6c0-0.1,0.3-0.2,0.4-0.4c0.2-0.4,0.4-0.8,0.4-1.2c0.4,0.1,0.3-0.2,0.4-0.4c0.3-0.4,0.7-0.6,0.8-0.8\
																c0.2-0.3,0-0.6,0.2-0.8c0.1-0.2,0.3-0.2,0.4-0.4c0.1-0.2,0.1-0.4,0.2-0.6c0-0.1,0.4,0.1,0.4,0c0.1-0.1-0.1-0.3,0-0.4\
																c0.1-0.1,0.3-0.1,0.4-0.2c0.1-0.1-0.1-0.3,0-0.4c0.2-0.3,0.6-0.5,0.8-0.8c0.1-0.2,0.1-0.4,0.2-0.6c0.4-0.5,1.2-0.6,1.2-1.2\
																c0-0.2,0.1-0.1,0.2-0.2c0.2-0.4,0.5-0.8,0.6-1.2c0.8-0.1,1-0.9,1.2-1.2c0.1-0.2,0.5-0.2,0.6-0.4c0.3-0.3,0.5-0.7,0.8-1\
																c0.3-0.3,0.6-0.7,1-0.8c0.3-0.9,0.9-1.6,1.2-2.1c0,0,0-0.2,0-0.2c0.1-0.1,0.4,0.1,0.4,0c0.3-0.3,0.6-0.7,0.8-1\
																c0.3-0.3,0.5-0.6,0.6-0.8c0.1-0.2,0-0.4,0.2-0.4C56.6,7.5,55.4,7.1,55.4,6.4')
															clippath#SV1_2_
																use(xlink:href='#SV1_1_', overflow='visible')
															g(clip-path='url(#SV1_2_)')
																defs
																	rect#SV1_3_(x='0', y='-4.2', width='61.7', height='77.5')
																clippath#SV1_4_
																	use(xlink:href='#SV1_3_', overflow='visible')
																g(clip-path='url(#SV1_4_)')
																	image(overflow='visible', width='500', height='374', xlink:href='../img/gold.jpg', transform='matrix(0.1176 0 0 0.1986 -2.1656 -0.999)')
													svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 72.1 75.5', enable-background='new 0 0 72.1 75.5', xml:space='preserve')
														g
															defs
																path#SV11_1_(d='M71.7,10.2c-1.1,0.1-1.4-0.3-1.8-1c-0.1-0.1-0.1-0.4-0.2-0.6c0-0.1-0.4-0.1-0.4-0.2c-0.2-0.4,0-0.5-0.2-1      C69,7.3,68.7,7.1,68.7,7c-0.1-0.2,0-0.4-0.2-0.6c0,0-1.4-0.8-1.8-0.8c-0.4,0-0.6,0-0.8-0.2c-0.4-0.3-0.5,0.1-1.4,0      c-0.1,0-0.2-0.2-0.4-0.2c-0.2,0-0.4,0-0.6,0c-0.8-0.1-1.4-0.4-2-0.4c-1-0.1-1.8,0.1-2.6,0c-0.6-0.1-1.2-0.5-1.8-0.6      c-0.2,0-0.9,0.1-1,0c-0.2-0.2-0.1-0.1-0.4,0c-0.9,0.2-2.4,0.1-3.8,0.2C50.4,4.4,49,4.7,47.8,5c-0.2,0-0.2,0.2-0.2,0.2      c-0.7,0.2-1.3,0.1-1.8,0.4c-0.2,0.1-0.4,0.3-0.6,0.4c-0.2,0.1-0.4,0.2-0.6,0.4C44.5,6.5,44,6.6,43.9,7c0.1,0.3-0.2,0.3-0.2,0.4      c-0.1,0.7,0.3,1.6,0.2,2.2c0,0-0.2,0-0.2,0.2c0,0.1,0,0.2,0,0.2c-0.1,0.2-0.1,0.3-0.2,0.6c-0.1,0.2-0.1,0.1-0.2,0.2      c-0.3,0.6-0.7,1.3-1.2,2c-0.1,0.1-0.3,0.3-0.4,0.4c-0.1,0.2-0.1,0.4-0.2,0.6c-0.2,0.3-0.6,0.6-0.8,0.8c-0.3,0.3-0.6,0.5-0.8,0.8      c-0.1,0.1-0.1,0.5-0.2,0.6c-0.3,0.3-0.9,0.8-1.4,1c-0.1,0.2,0,0.6-0.2,0.8c0,0.1-0.4-0.1-0.4,0c0,0,0,0.2,0,0.2      c-0.4,0.6-0.9,1.6-1.6,2.2c-0.1,0.1-0.3-0.1-0.4,0c-0.1,0.1,0.1,0.3,0,0.4c-0.1,0.1-0.3-0.1-0.4,0c0,0,0,0.2,0,0.2      c-0.3,0.4-0.7,0.7-1,1.2c-0.1,0.1-0.2,0-0.2,0.2c0,0.2-0.6,0.7-0.8,1c-0.2,0.2-0.4,0.5-0.6,0.8c-0.2,0.2-0.4,0.4-0.6,0.8      c-0.1,0.2-0.5,0.4-0.4,1c0.4,2,5.2,0.8,6.5,2.4c0.9,0,1.5,0.4,2.2,0.6c0.4,0.1,0.7,0.2,1,0.4c0.2,0.1,0.3,0.3,0.4,0.4      c0.1,0,0.4-0.1,0.4,0c0.1,0.1,0.1,0.3,0.2,0.4c0.1,0.1,0.3-0.1,0.4,0c0.1,0.1-0.1,0.4,0,0.4c0.1,0.1,0.3-0.1,0.4,0      c0.4,0.4,0.9,1.1,1.6,1.4c0.4,0.9,1,1.5,1.6,2.2c0.6,0.7,1.4,1.3,1.8,2c0,0.1-0.1,0.4,0,0.4c0,0,0.2,0,0.2,0c0,0.1-0.1,0.4,0,0.4      c0.1,0.1,0.4,0.2,0.4,0.4c0,0-0.3,0.2-0.2,0.4c0.1,0.3,0.2,0.5,0.4,0.8c0.1,0.2,0.4,0.3,0.4,0.6c0.3,0.8,0.1,2.1,0.6,2.6      c0,0.8-0.8,1.3-0.4,1.8c-0.1,0.9,0,1.7-0.2,2.4c0,0-0.2,0-0.2,0.2c0,0.3,0.1,0.6-0.2,0.6c0,0.4-0.6,0.3-0.4,0.8      c-0.2,1.3-0.4,2.4-0.8,3.4c0,0.1,0.1,0.4,0,0.4c0,0-0.2,0-0.2,0c0,0.1,0.1,0.4,0,0.4c-0.3,0.3-0.7,1.3-1,2      c-0.2,0.3-0.6,0.9-0.6,1.2c0,0.3-0.4,0.4-0.4,0.8c0,0.4-1.3,1-1.4,1.6c-0.1,0.5-0.4,1-0.8,1.4c-0.1,0.2-0.5,0.2-0.6,0.4      c-0.1,0.1-0.1,0.5-0.2,0.6c-0.3,0.4-0.7,0.6-1,1c-0.8,0.9-1.9,1.6-2.6,2.8c-0.4,0.1-0.6,0.5-1.2,0.4c-0.5,0.7-0.9,1.4-1.4,2      c-0.6,0.2-1,0.5-1.6,0.6c-0.3,0.2-0.7,1.2-1.2,1.2c-0.4,0-0.6,1.3-1.4,1.2c0.2,0.4-0.3,0.3-0.4,0.4c-0.1,0.2,0,0.5-0.2,0.6      c-0.2,0.2-0.9,0.1-0.8,0.6c-0.6-0.2-1,0.3-1.4,0.4c-0.5,0.1-0.7,0.1-1.2,0.4c-0.1,0.1-0.2,0.2-0.2,0.2c-0.2,0.1-0.5,0.4-0.8,0.4      c-0.1,0-0.3,0.2-0.4,0.2c-0.2,0.1-0.5,0.4-0.8,0.4c-0.1,0-0.3,0.2-0.4,0.2c-0.2,0.1-0.4,0.1-0.6,0.2c-0.1,0-0.1,0.4-0.2,0.4      c-0.1,0-0.3-0.1-0.4,0c-0.1,0.1-0.3,0.4-0.4,0.4c-0.3,0.1-0.9,0.1-1.4,0.2c-0.2,0-0.4,0.1-0.6,0.2c-0.1,0-0.4,0-0.4,0      c-0.2,0.3-0.3,0.1-1,0.2c-0.2,0-0.3,0.2-0.6,0.2c-0.4,0-0.9-0.1-1.4,0c-0.6,0.1-2.8,0.4-3.6,0.2c-0.1,0-0.4,0-0.4,0      c0,0,0-0.2,0-0.2c-0.1,0-0.4,0.1-0.4,0c-0.2-0.2-0.1-0.3-0.4-0.4c-0.1,0-0.4,0.1-0.4,0c0,0,0-0.2,0-0.2c-0.1,0-0.4,0.1-0.4,0      c0,0,0-0.2,0-0.2c-0.1,0-0.4,0.1-0.4,0c0,0,0-0.2,0-0.2c-0.3-0.1-0.8-0.1-1-0.2c-0.2-0.1-0.5-0.6-0.8-0.8C10,73,9.8,72.6,9.5,72.4      c-0.2-0.1-0.4-0.1-0.6-0.2c-0.2-0.1-0.2-0.3-0.4-0.4c-0.6-0.4-1.2-0.5-1.4-1.4c-0.2-0.2-0.6-0.1-0.6-0.4c-0.3-0.3-0.5-0.7-0.8-1      c-0.1-0.1-0.3-0.1-0.4-0.2c-0.2-0.1-0.3-0.3-0.6-0.6c0,0-0.2-0.4-0.2-0.4c-0.1,0-0.3,0.1-0.4,0c-0.1-0.1-0.1-0.5-0.2-0.6      c-0.3-0.3-0.8-0.5-1-0.8c-0.1-0.1,0.1-0.4,0-0.4c-0.1-0.1-0.6-0.3-0.8-0.6c-0.2-0.2-0.1-0.5-0.2-0.8c-0.1-0.1-0.3-0.3-0.4-0.4      c-0.1-0.1-0.1-0.3-0.2-0.4C1.2,63.6,1,63.6,1,63.5c-0.1-0.2-0.1-0.4-0.2-0.6c-0.2-0.3-0.6-0.8-0.6-1c-0.1-0.3,0.2-1.2,0-1.8      C0.2,59.9,0,59.3,0,58.6c0,0.1,0.3-0.1,0.2-0.2c-0.4-0.3-0.1-1.2,0-2c0-0.1,0-0.4,0-0.4c0.4-0.3,0.5-1.6,0.8-2      c0.1-0.2,0.4-0.3,0.6-0.6c0.2-0.3,0.1-0.7,0.6-0.8h1.8c-0.1,0.2,0.3,0.1,0.4,0.2c0.2,0.2,0.1,0.5,0.2,0.8C4.8,53.8,5,53.7,5.1,54      c0,0.1,0.1,0.6,0.2,0.8c0,0.2,0.2,0.1,0.2,0.2c0.3,0.9,0.4,1.9,1,2.6c0,0.6,0.1,1.3-0.2,1.6c0.5,0.4,0.3,1.3,0.4,2.4      c0,0.3,0.2,0.6,0.2,1.2C6.9,64.3,7,65,7.7,66.1c0,0.1,0.2,0.2,0.2,0.2c0.1,0.3,0,0.6,0.2,0.8c0,0.1,0.4,0.1,0.4,0.2      c0,0.1-0.1,0.3,0,0.4C8.7,67.9,9,68,9.1,68.2c0.3,0.3,0.4,0.5,0.8,0.8c0.2,0.2,0.4,0.2,0.8,0.2c0.1,0,0.4,0,0.4,0c0,0,0,0.2,0,0.2      c1,0.1,2.1,0.1,3-0.2c0.1,0,0-0.2,0.2-0.2c0.3,0,0.6,0.1,0.6-0.2c0.5,0.3,1,0.1,1.6,0c0.8-0.1,1.7-0.1,2.4-0.4      c0,0,0.1-0.2,0.2-0.2c0.4-0.1,0.7-0.3,1-0.4c0.2,0,0.6,0.1,0.8,0c0.8-0.3,1.5-0.7,2-1.2c0.5,0,1.2,0.1,1.4-0.2      c0.6,0.3,0.5-0.5,0.6-0.6c0.2-0.2,0.5-0.1,0.6-0.4c0.7-0.3,1.4-0.5,2-0.8c1.1-0.6,1.8-1.8,3.2-2c0.6-1,1.4-1.8,2.6-2.2      c0.6-1,1.5-1.6,2.2-2.4c0.7-0.8,1.2-1.8,2.2-2.2c0.3-0.7,0.7-1.3,1.4-1.6c0.3-0.9,0.9-1.7,1.4-2.4c0.1-0.1,0.2,0,0.2-0.2      c0-0.6,0.8-0.6,0.8-1.2c0-0.4,0.2-0.6,0.6-0.8v-1.6c0.8-0.1,0.4-1,0.6-1.4c0-0.1,0.4-0.1,0.4-0.2c0.1-0.3,0-0.7,0.4-1      c0-1.3,0.3-2.3,0.6-3.6c0.2-1,0.3-2.7,0-4c-0.2-0.8-0.2-1.3-0.6-1.8c0-0.1-0.4-0.1-0.4-0.2c0-0.1,0.1-0.4,0-0.4      c-0.2-0.2-1-0.5-1.6-0.8c-0.1,0-0.4,0.1-0.4,0c0,0,0-0.2,0-0.2c-0.1,0-0.4,0.1-0.4,0c0,0,0-0.2,0-0.2c-0.1,0-0.4,0.1-0.4,0      c0,0,0-0.2,0-0.2c-0.1,0-0.4,0.1-0.4,0c-0.2-0.2-0.4-0.1-0.8-0.2c-0.4-0.1-0.7-0.1-1.4-0.2c-0.3,0-0.4-0.2-0.6-0.2      c-0.2,0-0.3,0.2-0.6,0.2c0.1,0-0.1-0.2-0.2-0.2c-0.3-0.1-1.2,0-1.8,0c-0.9,0.1-1.9,0.2-2.8,0.4c-0.4,0.1-0.7,0.3-1.2,0.4      c0.1,0-0.1-0.2-0.2-0.2c-0.2,0-0.1,0.2-0.2,0.2c-0.5,0.1-0.8,0-1.2,0.2c-0.1,0-0.4-0.1-0.4,0c0,0,0,0.2,0,0.2      c-0.1,0-0.4-0.1-0.4,0c-0.1,0.2,0.1,0.4-0.2,0.4c-0.1,0-0.6-0.1-0.6,0c0,0,0,0.2,0,0.2c-0.1,0-0.4-0.1-0.4,0      c-0.2,0.3-0.7,0.6-1.2,0.8c-0.6,0.1-0.5,1.2-1.2,1.2c-0.4,0-1,1-1.6,1c0.1-0.4-0.7,0-0.8-0.2c-0.1-0.1-0.3-0.3-0.4-0.4      c-0.3-0.3-1-0.6-1.6-0.8c-0.3-0.8-1.1-1.2-1.6-1.8c-0.5-0.1-0.4-0.7-0.6-1c-0.2-0.3-0.6-0.6-0.8-0.8c-0.3-0.3-0.7-0.5-1-0.8      c-0.3-0.3-0.5-0.7-0.6-1.2c0.2-0.7,0.9-0.8,1.4-1.2c0.6-0.3,0.8-1,1.6-1c0.5-1.9,2.3-2.4,3-4c0.7,0,0.9-0.7,1.4-1      c0.3-0.3,0.5-0.5,0.8-1c0.2-0.3,0.7-0.4,0.4-0.8c0.3-0.3,0.6,0,0.8-0.4c0.2-0.3,0-0.6,0.2-0.8c0.2-0.2,0.9-1,1.2-1      c0,0,0.4-0.2,0.4-0.2c0.1-0.1,0.1-0.5,0.2-0.6c0.5-0.6,1-1.3,1.6-1.8c0.4-0.1,0.2-0.6,0.4-0.8c0.1-0.2,0.3,0.1,0.4-0.2      c0-0.1,0-0.3,0-0.4c0.3,0,0.4-0.4,0.6-0.6c0.2-0.2,0.4-0.4,0.6-0.6c0.3-0.4,0.7-0.7,1-1.2c0.3-0.4,0.5-1,0.8-1.4      c0.3-0.4,0.8-0.7,1.2-1c0.2-1,0.8-1.7,1.4-2.4c0.3-0.4,0.5-0.9,0.8-1.2c0.2-0.2,0.7,0.1,0.8-0.2C37,6.3,36.6,6.2,36.7,6      c0.2-0.5-0.4-0.5-0.8-0.4c-0.2,0-1,0.5-1.4,0.4c0,0.4-0.6,0.1-1,0.2c-0.3,0.1-0.8,0.3-1.2,0.6c-1.7,0-2.8,0.7-4,1.2      c-0.2,0.1-0.3,0.4-0.4,0.6c-0.1,0.1-0.3,0.3-0.4,0.4c-0.1,0.2-0.1,0.4-0.2,0.6c-0.1,0.1-0.3,0.3-0.4,0.4c-0.2,0.4-0.2,0.8-0.4,1.2      c-0.1,0.1-0.3,0.3-0.4,0.4c-0.1,0.2,0,0.5-0.4,0.4c-0.5,0.4-0.8,0.1-1.2-0.2c-0.2-0.1-0.5-0.6-0.8-0.6c-0.3,0-0.7-1-1.2-1      c-0.3,0-0.3-0.4-0.6-0.6c-0.4-0.3-0.9-0.5-1.2-0.8C20.3,8.7,20.2,8.2,20,8c-0.1-0.2-0.5-0.2-0.6-0.4c-0.4-0.6-0.5-1.4-1-1.8      c-0.5-0.4-0.7-1.1-0.6-2c0.2,0.1,0.1-0.3,0.2-0.4c0.2-0.1,0.8-0.1,1.2-0.2c0.1,0,0-0.2,0.2-0.2c0.1,0,0.2,0,0.2,0      c0.5-0.2,1.7-0.5,2.4-0.6c0.2-0.1,0.4-0.2,0.8-0.2c0.5,0,1,0,1.4-0.2c0.1,0,0-0.2,0.2-0.2c0.8-0.2,1.7-0.3,3-0.4      c0.3,0,0.6,0.1,0.8,0c0.2,0,0.2-0.2,0.4-0.2c0.5-0.1,0.9,0.1,1.4,0c0.3-0.1,0.6-0.4,1-0.4c0.4,0,0.7,0.1,1.2,0      c0.1,0,0.3-0.2,0.2-0.2c0.9,0,1.1,0.2,2,0c0.4-0.1,0.5-0.3,1-0.2c0.1,0,0.3,0.2,0.2,0.2c0.1,0,0.3-0.2,0.6-0.2      c1.6-0.1,3,0.1,4.3-0.2c0.1,0,0.4,0,0.4,0c0.2-0.3,0.1,0,0.2,0c0.5,0,1.1,0,1.6,0c0.5,0,0.9,0.2,1.4,0.2c0,0,0-0.2,0.2-0.2      c0,0,0,0.2,0.2,0.2c0.3,0,0.4-0.2,0.6-0.2c0.5,0,1,0.2,1.4,0.2c0.5,0,1.1-0.2,1.6-0.2c0.5,0,1.1,0.2,1.6,0.2c2,0.1,4.1-0.2,6.1,0      c0.9,0.1,1.6,0.3,2.6,0.4c0.9,0.1,1.9,0.1,2.8,0.4c0.2,0.1,0.2,0.2,0.4,0.2c1.2,0.2,2.8-0.1,3.4,0.8C66.3,2,67.3,2.7,68,3      c0.3,0.1,0.5,0.1,0.8,0.2c0.1,0,0.1,0.4,0.2,0.4c0.1,0,0.3-0.1,0.4,0c0.4,0.3,0.8,1.1,1.2,1.6c0.3,0.4,1,1.8,1.2,2.6      C72.1,8.7,72.3,9.5,71.7,10.2')
															clippath#SV11_2_
																use(xlink:href='#SV11_1_', overflow='visible')
															g(clip-path='url(#SV11_2_)')
																image(overflow='visible', width='500', height='374', xlink:href='../img/gold.jpg', transform='matrix(0.6192 0 0 0.8447 -106.8461 -95.324)')

												.feature-elem-text
													.text-gold минут пешком от Красной площади
											.feature-elem
												.feature-elem-num
													svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 66.9 76.8', enable-background='new 0 0 66.9 76.8', xml:space='preserve')
														g
															defs
																path#SV22_1_(d='M20.8,63.3c0.3,0.6,0.8,0.7,1.4,1c0.3,0.1,1.1,0.2,1.7,0.4c0.1,0,0,0.2,0.2,0.2c0.1,0,0.3-0.2,0.2-0.2\
																c0.5,0.1,0.7,0.3,1.2,0.4c1,0.1,2.2,0.1,3.3,0.2c0.2,0,0.2,0.2,0.4,0.2c0.1,0,0.2-0.2,0.2-0.2c0.3,0,0.3,0.2,0.6,0.2\
																c1,0.1,1.8,0,2.7,0.2c0.2,0.1,0.4,0.1,1,0.2c0.3,0,0.3,0.2,0.6,0.2c1.1,0.1,2.1-0.1,3.1,0.2c0.1,0,0.2,0.2,0.2,0.2\
																c0.5,0.1,1.2-0.1,1.8,0c0.2,0,0.4,0.2,0.8,0.2c0.7,0,1.2,0,2.1,0.2c0.5,0.1,1.1,0.4,1.6,0.6c0.3,0.1,0.7,0.1,1,0.2\
																c0.4,0.1,0.5,0.1,0.8,0.2c1,0.3,1.9,0.8,2.9,1.2c0.2,0.4,0.5,0.7,0.8,1c0.3,0.3,0.7,0.5,1,0.8c0.2,0.2,0.1,0.5,0.2,0.8\
																c0.1,0.1,0.3,0.3,0.4,0.4c0.2,0.4,0.6,0.7,0.4,1.2c-1.1,0.3-2.1-0.1-3.1-0.4c-0.4-0.1-1.1-0.2-1.6-0.4c-0.1,0,0-0.2-0.2-0.2\
																c-0.4,0-0.5-0.3-1-0.4c-0.7-0.2-1.7-0.1-2.7-0.2c-1.3-0.1-2.4-0.1-3.9-0.2c-0.2,0-0.3-0.2-0.6-0.2c0,0,0,0.2-0.2,0.2\
																c-0.3,0-0.4-0.2-0.8-0.2c-2.7-0.3-6.5-0.6-9.5-0.8c-0.4,0-1,0-1.4,0c-0.8-0.1-1.2-0.2-1.9,0c-0.4,0.1-0.4,0-0.6,0.2\
																c-0.1,0.1-1.2-0.2-1.8-0.2c-0.1,0-0.3,0.2-0.6,0.2c-0.5,0.1-1.3-0.2-1.9,0c-0.1,0-0.2,0.2-0.2,0.2c-0.5,0-0.9-0.2-1.4-0.2\
																c-0.4,0-0.9,0.3-1.4,0.4c-0.7,0.2-1,0-1.7,0.4c-0.1,0,0,0.2-0.2,0.2c-0.3,0-0.4,0.5-0.8,0.8c-0.1,0.1-0.4,0.1-0.6,0.2\
																c-0.1,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.4-0.4,0.4c-0.1,0.1-0.5-0.1-0.6,0c-0.2,0.1-0.2,0.3-0.4,0.4c-0.3,0.2-0.5,0.2-0.8,0.6\
																c0,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.4-0.4,0.4c-0.2,0.1-0.4-0.1-0.6,0c-0.4,0.2-0.4,0.6-1.2,0.4c0,0-0.6-0.2-0.6-0.2\
																c0,0,0-0.2,0-0.2c-0.3-0.2-0.5-0.2-0.8-0.6c-0.1-0.1-0.2-0.1-0.4-0.2c-0.1,0-0.3,0.1-0.4,0C6.3,74,6.3,73.9,6,73.8\
																c-0.1-0.1-0.1-0.1-0.2-0.2c-0.6-0.4-1.3-0.8-1.8-1.6c0-0.1,0.1-0.3,0-0.4c0,0-0.4,0.1-0.4,0c-0.1-0.2,0.1-0.4,0-0.6\
																c-0.9-0.2-1.3-0.9-1.9-1.4c-1,0.1-1.7-0.8-1.8-1.4c-0.1-0.6,0.3-0.8,0.6-1.2C0.7,67,0.8,66.7,1,66.6c0.2-0.1,0.4-0.1,0.6-0.2\
																c0.2-0.1,0.4-0.2,0.6-0.4c0.1-0.1,0.3-0.3,0.4-0.4c0.1-0.1,0-0.1,0.2-0.2C3.4,65.2,4,64.6,4.5,64c0.1-0.1,0-0.2,0.2-0.2\
																c0.3,0,0.4-0.6,0.8-0.6c0,0,0.2,0,0.2,0c0.2-0.1,0.4-0.4,0.6-0.6c0.2-0.2,0.6-0.8,1-0.8c0,0,0.5-0.2,0.6-0.2\
																c0.1-0.1,0.3-0.3,0.4-0.4c0.1,0,0.3,0.1,0.4,0c0.1-0.1,0.2-0.8,0.6-0.8c0.3-0.4,0.7-0.5,1.2-0.8c0.1,0,0.1-0.4,0.2-0.4\
																c0.3-0.1,0.8,0,1-0.4c0.2-0.2,0.4-0.2,0.6-0.4c0.1-0.1-0.1-0.3,0-0.4c0.1-0.1,0.4,0.1,0.4-0.2c0.2,0,0.3-0.3,0.4-0.4\
																c0.2-0.1,0.4,0.1,0.6,0c0.2-0.1,0.4-0.5,0.6-0.6c0.1-0.1,0.5-0.1,0.6-0.2c0.1-0.1-0.1-0.3,0-0.4c0,0,0.2,0,0.2,0\
																c0.3-0.3,0.6-0.5,1.2-0.8c0.1-0.1,0.3-0.1,0.4-0.2c0.2-0.1,0.4-0.4,0.6-0.6c0.1-0.1,0.3,0.1,0.4,0c0.2-0.3,0.5-0.6,1-1\
																c0.1-0.1,0.4-0.1,0.6-0.2c0.1-0.1,0.1-0.3,0.2-0.4c0.1,0,0.3,0.1,0.4,0c0.2-0.3,0.3-0.5,0.8-0.8c0.2-0.1,0.5-0.2,0.8-0.4\
																c0.1-0.1,0-0.2,0.2-0.2c0.3,0,0.4-0.5,0.8-0.8c0.1-0.1,0.4-0.4,0.6-0.4c0.4,0,0.7-1.2,1.6-1c0.2-0.9,1.3-1.1,1.9-1.6\
																c0.1-0.1,0-0.2,0.2-0.2c0.2,0,0.5-0.4,0.8-0.6c0.2-0.1,0.4-0.2,0.6-0.4c0.3-0.2,0.6-0.5,1-0.8c0.2-0.1,0.3-0.3,0.4-0.4\
																c0.1-0.1,0.3,0.1,0.4,0c0.3-0.3,0.7-0.8,1.2-1.2c0.3-0.3,0.9-0.6,1.4-1c0.7-0.5,1.3-1,1.9-1.6c0.6-0.5,1.3-1,1.9-1.6\
																c0.1,0,0.1-0.4,0.2-0.4c0.3-0.1,0.5-0.1,0.8-0.4c0.1-0.1,0-0.2,0.2-0.2c0.4,0,0.2-0.4,0.4-0.6c0.1-0.1,0.3,0.1,0.4,0\
																c0.2-0.1,0.2-0.5,0.4-0.6c0.2-0.2,0.6-0.4,1-0.6c0.1-0.1,0.4-0.1,0.6-0.2c0.2-0.1,0.2-0.4,0.4-0.6c0.2-0.2,0.4-0.2,0.6-0.4\
																c0.3-0.3,0.6-0.6,1-1c0.2-0.2,0.4-0.2,0.6-0.4c0.1-0.1,0.1-0.4,0.2-0.4c0.1,0,0.3,0.1,0.4,0c0.5-0.4,0.8-0.9,1.4-1.4\
																c0,0,0.4-0.2,0.4-0.2c0.2-0.4,0.1-0.4,0.4-0.6c0.8-0.5,1.5-1.8,2.3-2.5c0.4-0.4,1-0.7,1.4-1.2c0.4-0.4,0.6-1,1-1.4\
																c0.5-0.5,1.3-0.7,1.8-1.2c0.1-0.1-0.1-0.3,0-0.4c0,0,0.2,0,0.2,0c0.1-0.1,0.1-0.1,0.2-0.2c0.7-0.8,1.3-2.4,2.5-2.9\
																c0-0.5,0.5-0.9,0.8-1.4c0.1-0.1,0.1-0.3,0.2-0.4c0.3-0.3,0.8-0.5,1-1c0-0.1-0.1-0.3,0-0.4c0.2-0.1,0.5-0.4,0.8-0.8\
																c0.2-0.2,0.5-0.4,0.6-0.6c0.2-0.3,0.2-0.7,0.4-1c0.1-0.1,0.3-0.1,0.4-0.2c0.1-0.1-0.1-0.3,0-0.4c0,0,0.2,0,0.2,0\
																c0.2-0.3,0-0.8,0.2-1.2c0-0.1,0.3-0.3,0.4-0.4c0.1-0.2,0.1-0.4,0.2-0.8c0.1-0.3,0.4-0.5,0.6-1c0-0.1-0.1-0.3,0-0.4\
																c0.3-0.2,0.1-0.7,0.2-1.6c0-0.4,0.2-0.8,0.2-1.2c0-0.2-0.2-0.1-0.2-0.2c0-0.2,0.2-0.2,0.2-0.2c-0.2-0.8-0.7-1.5-0.8-2.3\
																c-1.9-1.2-4.6-0.4-6.8-0.2c-0.7,0.1-1.1,0-1.8,0.2c0,0-0.1,0.2-0.2,0.2c-0.3,0.1-0.6,0-1,0.2c-0.1,0-0.3,0.4-0.4,0.4\
																c-0.2,0.1-0.7-0.1-0.8,0c-0.4,0.4-1,0.3-1.9,0.6c-0.1,0,0,0.2-0.2,0.2c-0.2,0-0.4-0.1-0.6,0c-0.1,0-0.3,0.4-0.4,0.4\
																c-0.1,0-0.3,0-0.4,0c-0.4,0.1-0.7,0.5-1.2,0.8c-0.2,0.1-0.4,0.1-0.6,0.2c-0.3,0.2-0.2,0.3-0.8,0.4c-0.2,0-0.1,0.2-0.2,0.2\
																c-0.5,0.2-0.9,0.2-1.4,0.4c-0.3,0.1-0.4,0.1-0.6,0.2c-0.1,0.1-0.3,0.3-0.4,0.4c-0.4,0.2-0.6,0.1-1,0.4c-0.2,0.1-0.3,0.4-0.6,0.6\
																c-0.1,0.1-0.3,0.3-0.4,0.4c-0.7,0.5-1.5,0.7-2.1,1.2c-0.2,0.1-0.2,0.3-0.4,0.4c-0.4,0.2-0.9,0.5-1.2,1.2c-0.6-0.1-0.8,0.5-1.2,0.8\
																c-0.1,0.1-0.3-0.1-0.4,0c-0.2,0.2-0.3,0.6-0.8,0.8c-0.4,0.3-0.8,0.5-1.2,0.8c-0.3,0.2-0.5,0.5-0.8,0.8c-0.3,0.3-0.5,0.5-0.8,0.8\
																c-0.3,0.3-0.7,0.3-1,0.6c-0.3,0.3-0.3,0.6-0.6,0.8c-0.1,0.5-0.6,0.4-0.8,0.8c-0.7,0.8-1.2,1.8-2.3,2.1c-0.2,0.1-0.1,0.3-0.2,0.6\
																c0,0.1,0,0.4,0,0.4c-0.2,0.2-0.8,0.7-1.2,1.2c-0.1,0.1-0.2,0-0.2,0.2c0,0.3-0.6,0.5-0.8,0.8c-0.1,0.1,0,0.3,0,0.4\
																c-0.1,0.2-0.1,0.1-0.2,0.2c-0.1,0.2-0.3,0.4-0.4,0.8c-0.1,0.4,0,0.5-0.2,0.8c-0.1,0.1-0.2,0-0.2,0.2c0,0.4-0.5,0.4-0.8,0.8\
																c-0.2,0.2,0,0.5-0.2,0.8c-0.1,0.2-0.5,0.2-0.6,0.4c-0.2,0.2-0.1,0.5-0.2,0.8c0,0.1-0.4,0.1-0.4,0.2c0,0.1,0.1,0.3,0,0.4\
																c-0.3,0.3-0.7,0.5-1,0.8c0.1,0.3-0.1,0.5-0.2,0.6C18,35,18,35.3,17.9,35.5c-0.3,0.6-0.7,1.2-1.2,1.9c-0.2,0.3-0.3,0.2-0.4,0.8\
																c0,0.2-0.1,0.3-0.2,0.6c0,0.2-0.2,0.1-0.2,0.2c-0.2,0.5,0,1,0,1.6c-0.2,0.1-0.3,0.4-0.4,0.6c-0.1,0.1-0.3,0.3-0.4,0.4\
																c-0.1,0.2-0.1,0.4-0.2,0.6c-0.1,0.1-0.3,0.3-0.4,0.4c-0.1,0.2-0.1,0.4-0.2,0.6c0,0-0.1,0.1-0.2,0.2c-0.1,0.2-0.1,0.1-0.2,0.2\
																c-0.2,0.1-0.4,0.1-0.6,0.2C13.2,43.8,13.3,44,13,44c-0.5,0.1-2,0-2.5-0.6c-0.1-0.1-0.1-0.4-0.2-0.4c-0.3-0.2-0.7-0.1-1-0.2\
																c-0.1-0.1,0-0.2-0.2-0.2c-0.3,0-0.2-0.3-0.4-0.4c-0.1,0-0.3,0.1-0.4,0c0,0,0-0.2,0-0.2c-0.1,0-0.3,0.1-0.4,0c0,0,0-0.2,0-0.2\
																c-0.6-0.3-1.1-0.5-1.6-0.8c-0.5-0.4-0.9-1.2-1.4-1.6c-0.6-0.6-1.2-0.7-1.6-1.2c-0.1-0.2,0-0.7-0.2-0.8c-0.2-0.2,0-0.6-0.2-0.8\
																c-0.2-0.2-0.2-0.5,0-1.2c0,0,0.2-0.8,0.2-0.8c0,0,0.2,0,0.2,0c0-0.1-0.1-0.3,0-0.4c0.3-0.2,0.3-0.4,0.6-0.8c0.1-0.1,0.2,0,0.2-0.2\
																c0,0,0-0.2,0-0.2c0.1-0.2,0.4-0.4,0.6-0.6C5,32.5,5.1,32.2,5.3,32c0.3-0.3,0.8-0.8,1.2-1.2c0.4,0.1,0.1-0.6,0.4-0.8\
																c0.1-0.1,0.6-0.4,0.8-0.6c0.4-0.5,0.6-0.9,1-1.4c0.3-0.4,0.8-0.8,1.2-1.2c0.2-0.2,0.4-0.4,0.6-0.6c0.3-0.2,0.6-0.2,0.8-0.4\
																c0.3-0.3,0.3-0.6,0.6-1c0.5-0.7,1.4-1.6,2.1-2.3c0.5-0.5,1-1,1.6-1.6c0.1-0.1,0.5-0.1,0.6-0.2c0.1-0.1,0.1-0.5,0.2-0.6\
																c0.1-0.1,0.3,0.1,0.4,0c0.2-0.2,0-0.6,0.4-0.6c0.1-0.6,0.6-0.3,1-0.6c0.3-0.2,0.3-0.7,0.6-1c0.2-0.1,0.4-0.1,0.6-0.2\
																c0.1-0.1-0.1-0.3,0-0.4c0.1-0.1,0.3,0.1,0.4,0c0.2-0.1,0.2-0.3,0.4-0.4c0.4-0.3,1-1,1.6-1.4c0.1-0.1,0-0.2,0.2-0.2\
																c0.2,0,0.4-0.3,0.6-0.4c0.1-0.1,0.3,0.1,0.4,0c0.1-0.1-0.1-0.3,0-0.4c0.2-0.2,0.4-0.5,0.6-0.8c0.9-0.2,1.4-1,2.1-1.4\
																c0.2-0.5,1-0.3,1.4-0.6c0.1-0.1,0.1-0.3,0.2-0.4c0.5-0.3,1.1-0.6,1.6-1c0.2-0.1,0.2-0.3,0.4-0.4c0.1,0,0.3,0.1,0.4,0\
																c0.1-0.2,0.2-0.6,0.6-0.6c0.3,0,1-0.4,1.4-0.6c0.1-0.1,0-0.2,0.2-0.2c0.3,0,0.5-0.2,0.8-0.4c0.3-0.2,0.6-0.5,1-0.8\
																c0.3-0.2,0.3-0.3,0.8-0.4c0.2,0,0.4-0.2,0.8-0.4c0.3-0.1,0.6-0.2,1-0.4c0.1-0.1,0.3-0.3,0.4-0.4c0.2-0.1,0.4-0.1,0.6-0.2\
																c0.2-0.1,0.2-0.3,0.4-0.4c0.1,0,0.3,0.1,0.4,0c0.2-0.2,0.8-0.4,1.4-0.6c0.2-0.1,0.5-0.1,0.8-0.2c0.1,0,0.3-0.4,0.4-0.4\
																c0.3-0.1,0.5-0.1,0.8-0.2c0,0,0-0.2,0.2-0.2C41.3,4,42,4,42.4,3.6c0.3-0.3,0.9-0.3,1.4-0.4c0.4-0.1,0.9-0.3,1.4-0.4\
																c0.5-0.1,1-0.1,1.6-0.2c0.4-0.1,0.9-0.3,1.4-0.4c0.9-0.1,1.8,0,2.7,0c0,0,2.3-0.6,2.7-0.2c0.1,0.1,0.3,0.3,0.8,0.4\
																c0.7,0.1,1.2-0.1,1.7,0c0,0.2,0.2,0.1,0.4,0.2c0.1,0.1,0.1,0.2,0.2,0.2C56.9,3,57.3,3,57.7,3.2c0.2,0.1,0.3,0.3,0.6,0.4\
																c0.4,0.1,0.4,0.1,0.8,0.4c0.1,0.1,0,0.2,0.2,0.2c0.3,0,0.5,0.5,0.8,0.8c0.2,0.1,0.4,0.1,0.6,0.2c0.2,0.2,0.4,0.7,0.8,1\
																c0.2,0.1,0.4,0.1,0.6,0.2c0.3,0.2,0.8,1,1.4,1.4c0.5,0.3,1,0.9,1.4,1.6c0.1,0.2,0.4,0.4,0.4,0.6c0,0.2,0.3,0.2,0.4,0.4\
																c0.1,0.1-0.1,0.3,0,0.4c0,0,0.2,0,0.2,0c0.3,0.7,0.5,1.8,0.8,2.7c0.2,0.8,0.5,1.4,0.4,2.3c0,0.1,0,0.4,0,0.4\
																c-0.3,0.2-0.1,0.5-0.2,1.2c-0.1,0.3-0.3,0.4-0.4,0.8c0,0.1,0.1,0.7,0,0.8c0,0-0.2,0-0.2,0c-0.1,0.3-0.1,0.7-0.2,1\
																c-0.2,0.5-0.4,1.4-0.8,1.9c0,0.1-0.1,0.5-0.2,0.6c0,0-0.2,0-0.2,0c0,0.1,0.1,0.3,0,0.4c0,0-0.2,0-0.2,0c0,0.1,0.1,0.3,0,0.4\
																c-0.2,0.2-0.3,0.2-0.4,0.4c-0.4,0.7-0.8,1.2-1.4,1.9c-0.1,0.1-0.2,0-0.2,0.2c0,0.4-1,1-1.4,1.4c-0.1,0.2,0,0.6-0.2,0.8\
																c-0.1,0.1-0.5,0.1-0.6,0.2c-0.1,0.1,0.1,0.3,0,0.4c0,0-0.2,0-0.2,0c-0.2,0.2-0.3,0.3-0.6,0.6c-0.1,0.2-0.2,0.4-0.4,0.6\
																c-0.3,0.3-0.8,0.7-1.2,1.2c-0.8,0.9-1.7,1.7-2.5,2.7c-0.1,0.2-0.1,0.4-0.2,0.6c-0.1,0.1-0.3-0.1-0.4,0c-0.1,0.1,0.1,0.3,0,0.4\
																c-0.1,0.1-0.4,0.1-0.6,0.2c-0.1,0.1,0.1,0.3,0,0.4c-0.2,0.2-0.6,0-0.8,0.2c-0.2,0.1-0.3,0.5-0.6,0.8c-0.3,0.2-0.6,0.5-1,1\
																C52,37,52,37.2,51.9,37.4c-0.2,0.2-0.7,0.6-1,1c-0.4,0.5-1.1,0.8-1.2,1.6c0,0.3-0.8,0-0.8,0.4c0,0.4-0.4,0.3-0.8,0.6\
																c-0.1,0.1,0.1,0.3,0,0.4c-0.1,0.1-0.3-0.1-0.4,0c-0.6,0.5-1.4,1.5-2.1,2.1c-0.4,0.4-0.8,1-1.6,1c-0.4,0.5-0.6,1.1-1,1.6\
																c-0.5-0.2-0.3,0.4-0.8,0.4c0,0-0.2,0-0.2,0c-0.1,0.1-0.3,0.3-0.4,0.4c-0.2,0.1-0.4-0.1-0.4,0.2C41,47,41,47.5,40.8,47.7\
																c-0.5-0.1-0.7,0.4-1,0.6c-0.1,0.1-0.5,0.1-0.6,0.2c-0.1,0.1-0.1,0.5-0.2,0.6c-0.5,0.5-1.4,0.7-1.6,1.6c-1.2,0.3-1.9,1.3-2.9,1.8\
																c-0.2,0.3-0.4,0.5-0.8,0.8c-0.1,0.1-0.3,0.3-0.4,0.4c-0.1,0.1-0.4,0.1-0.6,0.2c-0.3,0.2-0.4,0.5-0.8,0.8c-0.5,0.4-1.3,0.7-1.9,1.2\
																c-0.3,0.2-0.5,0.6-0.8,0.8c-0.1,0.1-0.3,0.3-0.4,0.4c-0.2,0.1-0.4,0.1-0.6,0.2c-0.3,0.2-0.5,0.6-0.8,0.8C27.4,58,27.2,57.9,27,58\
																c-0.2,0.1-0.2,0.3-0.4,0.4c-0.2,0.1-0.4,0.1-0.6,0.2c-0.1,0.1-0.2,0.3-0.4,0.4c-0.3,0.2-0.5,0.5-0.8,0.8c-0.2,0.1-0.4,0.1-0.6,0.2\
																c-0.1,0.1-0.3,0.3-0.4,0.4c-0.5,0.5-1,1.1-1.6,1.6C21.8,62.4,21.1,62.6,20.8,63.3')
															clippath#SV22_2_
																use(xlink:href='#SV22_1_', overflow='visible')
															g(transform='matrix(1 0 0 1 0 0)', clip-path='url(#SV22_2_)')
																image(overflow='visible', width='500', height='374', xlink:href='../img/gold.jpg', transform='matrix(0.3938 0 0 0.4451 -128.8133 0)')
													svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 54.9 83.7', enable-background='new 0 0 54.9 83.7', xml:space='preserve')
														g
															defs
																path#SV44_1_(d='M32.2,0h0.2c0.1,0.3,0.5,0.2,0.8,0.4c0.1,0.1,0.2,0.3,0.4,0.4c0.3,0.3,0.9,0.4,0.8,1\
																c0.6,0.1,1.1,0.3,1.6,0.6c0.5,0.4,0.7,1.2,1,1.6c0.2,0.2,0.6,0,0.6,0.4C38,4.9,38.6,5.4,39.2,6c0.1,0.9,0.3,1.7,0.2,2.3\
																C39.3,9,39,8.9,38.8,9.1c-0.1,0.2-0.1,0.4-0.2,0.6c-0.1,0.2-0.4,0.4-0.4,0.6c0,0.6-1.2,1.1-1.4,1.4c-0.1,0.1,0,0.3,0,0.4\
																c0,0.1-0.3,0.1-0.4,0.2c-0.1,0.3-0.2,0.7-0.2,1c-1,0.7-1.8,1.6-2.1,2.9c-0.7-0.1-0.4,0.6-0.8,0.6c-0.2,0-0.1,0.1-0.2,0.2\
																c-0.4,0.3-1,1-1,1.4c0,0.2-0.1,0.1-0.2,0.2c-0.1,0.2-0.1,0.4-0.2,0.6c-0.1,0.1-0.3-0.1-0.4,0c-0.1,0.1,0.1,0.3,0,0.4\
																c-0.1,0.1-0.3,0-0.4,0c0,0-0.2,0.3-0.2,0.4c-0.3,0.3-0.5,0.6-0.8,0.8c-0.1,0.1,0.1,0.3,0,0.4c-0.1,0.2-0.3,0.2-0.4,0.4\
																c-0.1,0.1,0,0.3,0,0.4c0,0.1-0.3,0.1-0.4,0.2c-0.3,0.4-0.5,0.8-1,1c-0.4,1.1-1.2,2.1-1.8,2.7c-0.4,0.5-0.9,1.3-1.6,1.4\
																c0,0.5-0.5,0.8-0.8,1.2c-0.1,0.1,0,0.3,0,0.4c0,0.1-0.3,0.1-0.4,0.2c-0.2,0.2-0.2,0.4-0.4,0.6c-0.3,0.3-0.7,0.6-1,1\
																c-0.3,0.3-0.5,0.9-1,1c0,0.4-0.4,0.7-0.4,1c0,0.2-0.1,0.1-0.2,0.2c-0.1,0.2-0.1,0.4-0.2,0.6c-0.1,0.1-0.4-0.1-0.4,0.2\
																c0,0.2-0.1,0.1-0.2,0.2c-0.4,0.5-0.9,1-1.2,1.4c-0.1,0.1-0.4,0.3-0.4,0.4c0,0.2-0.1,0.1-0.2,0.2c-0.1,0.2-0.1,0.4-0.2,0.6\
																c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0.2-0.1,0.4-0.2,0.6c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0.1-0.1,0.4-0.2,0.6c-0.1,0.1-0.5,0.1-0.6,0.2\
																c-0.1,0.1-0.2,0.6-0.2,0.8c0,0.4-0.9,0.6-1,0.8c-0.1,0.2-0.1,0.4-0.2,0.6c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0.2-0.1,0.4-0.2,0.6\
																c-0.1,0.1-0.3,0.3-0.4,0.4c-0.1,0.2,0,0.5-0.2,0.6c-0.2,0-0.3,0.2-0.4,0.4c-0.1,0.1-0.3-0.1-0.4,0c-0.3,0.3-0.2,0.8-0.6,0.8\
																c-0.2,0-0.5,0.3-0.6,0.4c-0.1,0.1-0.2,0.6-0.4,0.8c-0.2,0.2-0.4,0.4-0.6,0.6c-0.2,0.2-0.4,0.4-0.6,0.6c0,0-0.2,0-0.2,0\
																c-0.1,0,0,0.3,0,0.4c0,0-0.2,0-0.2,0c-0.1,0,0,0.3,0,0.4c0,0-0.2,0-0.2,0c-0.1,0,0,0.3,0,0.4c-0.3,0.6,0.1,0.9,0.4,1.4\
																c0.8,0.1,1.6-0.2,1.9-0.4c0.8-0.3,1.4-0.4,2.1-0.6c0.5-0.1,0.9-0.2,1.4-0.4c1.4-0.4,2.4-1.1,3.7-1.4c0.5-0.1,1.1,0,1.6-0.2\
																c0.5-0.1,0.5-0.4,1-0.4c0.4,0,0.8-0.8,1.2-0.8c0.2,0,0.1-0.2,0.2-0.2c0.4-0.2,0.9,0,1.4-0.2c0.8-0.2,1.3-0.9,1.9-1\
																c0.4,0,1-0.2,1.4-0.4c0.4-0.2,0.4-0.3,0.8-0.4c0.2,0,0.1-0.1,0.2-0.2c0.2-0.1,0.4-0.1,0.6-0.2c0.2-0.1,0.3-0.3,0.4-0.4\
																c0.6-0.2,0.7,0.1,1-0.2c0-0.1,0.3,0,0.4,0c0,0,0-0.2,0-0.2c0-0.1,0.3,0,0.4,0c0.6-0.2,1.5-0.6,1.7-0.8c0.4-0.3,1.1-0.6,1.4-0.6\
																c0.2,0,0.1-0.1,0.2-0.2c0.4-0.3,0.8-0.5,1.4-0.4c0.5,0,0.4-0.7,0.8-1c0-0.2,0.1-0.1,0.2-0.2c0.7-0.5,0.9-1,1.4-1.6\
																c0.2-0.3,0.5-0.5,0.8-0.8c0.3-0.3,0.7-0.5,1-0.8c0.1-0.1,0.1-0.5,0.2-0.6c0.3-0.3,0.6-0.5,0.8-0.8c0.4-0.6,0.8-0.9,1.2-1.4\
																c0.3-0.3,0.5-0.7,1-0.8c-0.1-0.4,0.3-0.4,0.4-0.6c0.1-0.2,0.2-0.6,0.4-0.8c0.7-1,2-2.1,2.7-2.9c0.1-0.1,0.2-0.4,0.4-0.4\
																c0.2,0,0.1-0.2,0.2-0.2c0.4-0.1,1,0,1.2,0c0,0,0.3-0.2,0.2-0.2c0.3,0,0.6,0.5,0.8,0.6c0.2,0.1,0.4,0.1,0.6,0.2\
																c0.1,0.1,0.4,0.5,0.4,0.6c0,0.2,0.1,0.1,0.2,0.2c0.3,0.4,1.2,1,1.4,1.2c0.1,0.1-0.1,0.3,0,0.4c0.1,0.1,0.5,0.1,0.6,0.2\
																c0.1,0.1,0.3,0.3,0.4,0.4c0.1,0.2,0.1,0.4,0.2,0.6c0.2,0.3,0.6,0.3,0.8,0.6c0.1,0.1,0.1,0.5,0.2,0.6c0,0.1,0.1,0.1,0.2,0.2\
																c0.2,0.4,0.2,0.8,0.2,1.4c0,0.4,0.3,0.8,0,1c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.2-0.2,0.3-0.4,0.4c-0.2,0.1-0.4,0.1-0.6,0.2\
																c-0.1,0.1,0.1,0.3,0,0.4c-0.1,0.1-0.3-0.1-0.4,0c-0.5,0.4-0.6,1.4-1.6,1.4c-0.3,0.9-1.1,1.4-1.6,2.1c-0.4,0.1-0.6,0.5-1.2,0.4\
																c-0.6,0.6-1.1,1.6-1.8,2.1c-0.1,0.1-0.3,0-0.4,0c-0.1,0.1-0.1,0.4-0.4,0.4c-0.2,0-0.4,0.3-0.6,0.4c-0.5,0.3-0.9,1-1.6,0.8\
																c-0.5,0.4-0.7,1.3-1.4,1.4c0.1,0.8-0.8,1.1-1.2,1.6c-0.4,0.5-0.6,1.3-1.4,1.4c-0.1,0.9-0.8,1.1-1.4,1.6c-0.1,0.7-1,1.1-1,1.6\
																c0,0.4-0.7,0.7-0.8,0.8c-0.1,0.1-0.1,0.4-0.2,0.6c-0.4,0.4-0.8,0.8-1.2,1.2c-0.1,0.1-0.5,0.1-0.6,0.2c-0.1,0.1,0.1,0.3,0,0.4\
																c-0.2,0.2-0.6,0.4-0.8,0.6c-0.2,0.2-0.2,0.6-0.4,0.8c-0.4,0.5-0.9,0.8-1.2,1.2c-0.1,0.1-0.1,0.3-0.2,0.4c-0.1,0.2-0.3,0.2-0.4,0.4\
																c-0.2,0.2-0.2,0.6-0.4,0.8c-0.2,0.2-0.4,0.4-0.6,0.6c-0.1,0.2-0.5,0.4-0.6,0.6c-0.2,0.3-0.1,0.7-0.4,1c-0.4,0.1-0.7,0.5-1,0.8\
																c-0.5,0.5-1,1-1.4,1.4c-0.2,0.2-0.5,0.7-0.6,0.8c-0.2,0.2-0.2,0.4-0.4,0.6c-0.1,0.1-0.3,0.4-0.4,0.4c-0.4,0-0.4,0.6-0.8,0.6\
																c-0.2,0-0.1,0.1-0.2,0.2c-0.1,0.1-0.3,0.3-0.4,0.4c-0.2,0.2-0.4,0.6-0.6,0.8c-0.2,0.3-0.6,0.4-0.8,0.6c-0.1,0.1,0,0.3,0,0.4\
																C24,66,23.6,66,23.6,66.3c0,0.2-0.1,0.1-0.2,0.2c-0.3,0.4-0.4,0.8-0.6,1.2c-0.2,0.2-0.4,0.3-0.6,0.6c-0.2,0.2-0.2,0.6-0.4,0.8\
																c-0.2,0.2-0.4,0.4-0.6,0.6c-0.2,0.2-0.4,0.3-0.6,0.6c-0.2,0.2-0.1,0.8-0.6,0.6c0,1.3-0.7,1.9-1.4,2.5c0,1.8-1,2.6-1.7,3.7\
																c0,0.2,0,0.4,0,0.6c0,0.1-0.2,0.2-0.2,0.2c0,0.6,0.2,0.8,0.2,1c0,0.2-0.2,0.2-0.2,0.4c0,0.3,0.2,0.4,0.2,0.6\
																c0,0.3-0.3,0.4-0.2,0.8c0.1,0.6,0.4,0.9,0.4,1.4c0,0.6,0.9,1,0.4,1.8c-0.8,0.2-1.5-0.1-2.1-0.4c-0.1,0-0.3-0.3-0.4-0.4\
																c-0.2-0.1-0.4-0.1-0.6-0.2c-0.1-0.1-0.3-0.3-0.4-0.4c-0.5-0.4-0.9-0.6-1.4-1c-0.3-0.3-0.5-0.5-0.8-0.8c-0.3-0.2-0.5-0.5-0.8-0.8\
																c-0.3-0.3-0.5-0.5-0.8-0.8c0-1.1,0-2.2,0.2-3.3c0.1-0.4,0.2-0.7,0.4-1.2c0-0.1,0-0.3,0-0.4c0.1-0.4,0.3-0.5,0.4-0.8\
																c0-0.1,0.2,0,0.2-0.2c0-0.1,0-0.3,0-0.4c0.1-0.5,0.3-0.5,0.4-0.8c0.2-0.7,0-1.1,0.2-1.4c0.1-0.1,0.1-0.3,0.2-0.4\
																c0.1-0.3,0.1-0.8,0.2-1c0,0,0.3-0.2,0.4-0.2c0.1-0.1,0-0.3,0-0.4c0,0,0.2,0,0.2,0c0.1-0.1-0.1-0.3,0-0.4c0.3-0.4,0.6-0.2,0.6-0.8\
																c0-0.2,0.1-0.1,0.2-0.2c0.2-0.4,0.4-0.6,0.6-0.8c0.1-0.1-0.1-0.3,0-0.4c0.1-0.1,0.3-0.1,0.4-0.2c0.1-0.2,0.3-0.6,0.4-0.8\
																c0.3-0.5,0.6-1,0.8-1.6c0.5-0.3,0.9-0.7,1.4-1c0-0.5,0.3-0.7,0.4-0.8c0.1-0.1-0.1-0.3,0-0.4c0.2-0.3,0.6-0.4,0.8-0.6\
																c0.1-0.1,0-0.3,0-0.4c0,0,0.2,0,0.2,0c0.1-0.1-0.1-0.3,0-0.4c0.2-0.3,0.6-0.2,0.6-0.6c0-0.4,0.4-0.5,0.6-0.6c0.1,0-0.1-0.3,0-0.4\
																c0.1-0.2,0.4-0.4,0.6-0.6c0.2-0.2,0.4-0.4,0.4-0.8c0.5-0.2,1.2-0.7,1.2-1c0-0.4,0.4-0.5,0.6-0.6c0.1,0,0-0.3,0-0.4\
																c0.1-0.2,0.4-0.4,0.4-0.6c0-0.2,0.1-0.1,0.2-0.2c0.1-0.1,0.4-0.4,0.4-0.6c0-0.3,0.6-0.4,0.8-0.4c0.2-0.6,0.4-1,0.6-1.6\
																c0.4-0.2,0.8-0.5,1.2-0.8c0.1-1,1-1.5,1.2-2.1c0.1-0.3,0.1-0.4,0.2-0.6c0.2-0.4,0.5-0.9,0.2-1.4c-0.4-0.5-0.9,0.2-1.2,0.2\
																c-0.3,0-0.3,0.4-0.6,0.4c-0.2,0-0.1,0.1-0.2,0.2c-0.2,0.1-0.4-0.1-0.6,0c-0.1,0-0.1,0.3-0.2,0.4c-0.3,0.1-0.7,0.1-1,0.2\
																c-0.2,0.1-0.3,0.2-0.6,0.2c-0.2,0-0.1,0.2-0.2,0.2c-1.4,0.5-2.7,0.9-3.5,1.8c-0.6-0.1-1,0.1-1.2,0.2c-0.4,0.2-0.5,0.2-1,0.2\
																c-0.2,0-0.1,0.2-0.2,0.2c-0.4,0.1-0.8,0.3-1,0.4c-0.4,0.2-0.8,0.2-1.2,0.4c-0.4,0.2-1,0.3-1.2,0.8c-0.8-0.1-1.5,0.3-1.9,0.4\
																c-0.2,0-0.5-0.1-0.8,0c-0.3,0.1-0.5,0.3-0.8,0.4c-0.5,0.2-0.8,0.2-1,0.4c0,0-0.5,0-0.6,0c-0.2,0-0.2,0.2-0.2,0.2\
																c-0.2,0.1-0.5,0-0.8,0c-0.1,0-0.2,0.2-0.2,0.2c-0.1,0-0.8-0.1-1-0.2c0,0,0-0.2,0-0.2c-0.1-0.2-1,0.1-1.2,0c-0.1,0-0.3-0.3-0.4-0.4\
																c-0.3-0.1-0.5,0-0.8-0.2c-0.2-0.1-0.2-0.5-0.4-0.6c-0.1-0.1-0.3,0-0.4,0c-0.1,0-0.1-0.3-0.2-0.4c-0.1-0.1-0.3,0-0.4,0\
																c-0.1,0-0.1-0.3-0.2-0.4c-0.1,0-0.3-0.2-0.4-0.2c-0.2,0-0.1-0.1-0.2-0.2c-0.4-0.3-0.8-0.4-1.2-0.8C1.1,50.4,1,50,0.9,49.6\
																c-0.3-0.3-0.6-0.5-0.8-1c-0.2-0.6,0-0.4,0-0.8c0-0.8,0.1-1.3,0.2-1.6c0,0,0-0.1,0-0.2c0-0.2,0.1-0.1,0.2-0.2\
																c0.2-0.4,0.4-0.6,0.6-0.8c0.1,0,0-0.3,0-0.4c0.2-0.5,0.3-0.6,0.6-0.8c0.1-0.1-0.1-0.3,0-0.4c0.1-0.1,0.3-0.3,0.4-0.4\
																c0.4-0.4,0.9-0.8,1.4-1c0.1-0.5,0.5-0.9,0.8-1.4c0.1-0.2,0.4-0.4,0.6-0.6C4.9,40,5,39.7,5.2,39.5c0.1-0.2,0.4-0.4,0.6-0.6\
																c0.2-0.2,0.4-0.4,0.6-0.6c0.3-0.4,0.5-1.1,1.2-1.2c-0.1-0.3,0.2-0.4,0.2-0.6c0-0.4,0.4-0.5,0.6-0.6c0.1-0.1-0.1-0.3,0-0.4\
																c0.3-0.4,1.2-1.1,1.2-1.4c0-0.2,0.3-0.4,0.4-0.6c0.2-0.3,0.4-0.3,0.6-0.6c0.1-0.2,0.2-0.2,0.4-0.4c0.1-0.1-0.1-0.3,0-0.4\
																c0.1-0.1,0.7-0.8,0.8-0.8c0.4,0,0.3-0.6,0.8-0.4c-0.1-0.5,0.6-0.8,0.6-0.8c0.3-0.2,0-0.8,0.4-0.8c0.6-0.5,0.7-1.2,1.2-1.8\
																c0.2-0.3,0.6-0.5,0.8-0.8c0.1-0.2,0.1-0.4,0.2-0.6c0-0.1,0.3,0.1,0.4,0c0.1-0.1-0.1-0.4,0.2-0.4c0.5,0,0.6-1,0.8-1.2\
																c0.3-0.3,0.6-0.5,0.8-0.8c0.1-0.2,0.1-0.4,0.2-0.6c0.1-0.1,0.3-0.3,0.4-0.4c0.1-0.2,0.1-0.4,0.2-0.6c0.1-0.2,0.4-0.2,0.6-0.4\
																c0.2-0.2,0.2-0.4,0.4-0.6c0.1-0.2,0.5-0.2,0.6-0.4c0.2-0.2,0-0.6,0.2-0.8c0.1-0.1,0.1-0.3,0.2-0.4c0.1-0.1,0.3,0.1,0.4,0\
																c0.2-0.2,0-0.5,0.2-0.8c0.1-0.2,0.5-0.2,0.6-0.4c0.1-0.1,0-0.3,0-0.4c0-0.1,0.3-0.1,0.4-0.2c0.4-0.6,0.5-1,0.8-1.6\
																c0-0.1,0.3-0.1,0.4-0.2c0.2-0.2,0.3-0.4,0.4-0.6c0.4-0.6,0.9-1.3,1.2-1.8c0.1-0.3,0-0.6,0.4-0.8c0.2-0.4,0.8-0.8,0.8-1.2\
																c0-0.4,0.4-0.5,0.6-0.6c0.1,0,0-0.3,0-0.4c0,0,0.2,0,0.2,0c0.1,0,0-0.3,0-0.4c0.1-0.2,0.3-0.2,0.4-0.4c0.3-0.5,0.4-0.9,0.8-1.2\
																c0.1,0,0-0.3,0-0.4c0,0,0.2,0,0.2,0c0.1,0,0-0.3,0-0.4c0,0,0.2,0,0.2,0c0.1,0,0-0.3,0-0.4c0.2-0.5,0.5-1.1,0.8-1.4\
																c0.3-0.4,0.4-0.7,0.6-1c0.1-0.1,0.3-0.3,0.4-0.4c0.1-0.1,0-0.4,0-0.6c0-0.2,0.2-0.1,0.2-0.2c0.1-0.5,0.4-1,0.4-1.2\
																c0-0.4,0.4-0.5,0.4-0.8c0-0.2,0.2-0.1,0.2-0.2c0.1-0.3,0.1-0.8,0.2-1.2c0.1-0.4,0.5-0.7,0.4-1.2C31.8,0.2,32.2,0.2,32.2,0')
															clippath#SV44_2_
																use(xlink:href='#SV44_1_', overflow='visible')
															g(clip-path='url(#SV44_2_)')
																image(overflow='visible', width='500', height='374', xlink:href='../img/gold.jpg', transform='matrix(0.148 0 0 0.2594 -10.609 -4.5234)')

												.feature-elem-text
													.text-gold номера с авторским дизайном

									.hotel-about-img
										img(src="img/index/hotel.jpg", alt="")
								.btn-wrap
									a(href="#").btn
										span Подробнее об отеле		


			.landing-elem.fp-auto-height
				.wrapper.blk
					.box.section-container
						.section-head-wrap
							.section-head.animate-up
								.section-svg
									+svgstay2
						.section-content.animate-bg
							.chose-wrapper
								.chose-inner
									+card('room1.jpg','classic','16–21м2 с одной большой двуспальной и двумя односпальными кроватями. Завтрак включен.')
									+card('room2.jpg','Superior','16–21м2 с одной большой двуспальной и двумя односпальными кроватями. Завтрак включен.sdfsd sdfsdfdsf dsfdsfsdf sdfdsfs sdfdsfds fdsfds fsdfsf')
								.btn-wrap
									a(href="#").btn
										span Наши номера	
			.landing-elem.fp-auto-height
				.wrapper.white
					.box.section-container
						.section-head-wrap
							.section-head.animate-up
								.section-svg
									+svgstay3
						.section-content.animate-bg
							.news-wrapper 
								+news('n1.jpg','24 марта в самом сердце москвы открылся наш неповторимый дизайн-отель “Акварель”','')
								+news('n2.jpg','мы открылись и по этому радостному поводу дарим всем скидку -30%',' Lorem ipsum dolor sit amet')
								.btn-wrap
									a(href="#").btn
										span Все новости	
			.landing-elem.fp-auto-height
				.wrapper.gray
					.box.section-container
						.section-head-wrap
							.section-head.animate-up
								.section-svg
									img(src="img/icons/hashtag.svg", alt="")
								.title.h2 instagram
						.section-content.animate-bg
							.instawrap
								.instawrap-inner
									.instawrap-elem(style='background-image:url(img/inst/i1.jpg)')
									.instawrap-elem(style='background-image:url(img/inst/i2.jpg)')
									.instawrap-elem(style='background-image:url(img/inst/i3.jpg)')
									.instawrap-elem(style='background-image:url(img/inst/i4.jpg)')
								a(href="#").link-line
									.text #hotel_akvarel
									+line

			.landing-elem.fp-auto-height
				include includes/_footer.pug
		//- a(href="#").btn
		//- 	span Подробнее об отеле		
		//- button(type='submit').btn
		//- 	span Подробнее об отеле
		//- button(type='submit').btn.btn-blackcont
		//- 	span Подробнее об отеле
		//- a(href="#").btn.btn-white
		//- 	span Подробнее об отеле		
		//- button(type='submit').btn.btn-white
		//- 	span Подробнее об отеле
		//- .title.h1 Дизайн-отель в самом сердце Москвы
		//- .title.h2 Дизайн-отель в самом сердце Москвы
		//- .title.h3 Akvarel Stoleshnikov

		//- .title.h4 Akvarel Stoleshnikov
		//- .text Месте, где хочется провести свой уик-энд
		//- .text-bold Месте, где хочется провести свой уик-энд  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam placeat reprehenderit tempore sequi quisquam magni adipisci voluptatum praesentium ut expedita nulla dolorem voluptatem, quasi fugiat, odio voluptates nobis nam ipsum!

























	