html {
  pointer-events: none; }

body.bnovo {
  padding-top: 305px !important;
  pointer-events: all; }

.bnovo__fields {
  background: 0 0 !important;
  padding: 0 !important; }
  .bnovo__fields .bnovo__input {
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    border-radius: 0; }
    .bnovo__fields .bnovo__input::-webkit-input-placeholder {
      color: #fff !important; }
    .bnovo__fields .bnovo__input::-moz-placeholder {
      color: #fff !important; }
    .bnovo__fields .bnovo__input:-ms-input-placeholder {
      color: #fff !important; }
    .bnovo__fields .bnovo__input::placeholder {
      color: #fff !important; }
    .bnovo__fields .bnovo__input::-ms-input-placeholder {
      color: #fff !important; }
    .bnovo__fields .bnovo__input::-webkit-input-placeholder {
      color: #fff !important; }
    .bnovo__fields .bnovo__input:focus {
      background: 0 0; }
  .bnovo__fields .bnovo__button {
    border-radius: 0;
    -webkit-transition: border-color .3s, background-color .3s;
    transition: border-color .3s, background-color .3s;
    font-size: 14px; }
    .bnovo__fields .bnovo__button:active {
      background-color: #e6bd50;
      border-color: #e6bd50; }
  .bnovo__fields .bnovo__field {
    padding-left: 5px;
    padding-right: 5px; }
  @media only screen and (max-width: 799px) {

  .bnovo.m-hor .bnovo__inputs {
    display: block !important; }

  .bnovo.m-hor .bnovo__field {
    display: block !important;
    float: left !important;
    width: 33.33% !important;
    clear: inherit !important; } }
  @media only screen and (max-width: 300px) {

  body.bnovo {
    padding-top: 0px !important; }

  .bnovo.m-hor .bnovo__inputs {
    display: block !important; }

  .bnovo.m-hor .bnovo__field {
    display: block !important;
    float: none !important;
    width: 100% !important;
    clear: both !important; } }
